[2018-06-15 17:21] cgewecke commented on #244
Hi @Fang.  At the moment we copy the entire target into a temp folder, rewrite the contracts, run the tests and throw everything away. The more I think about how we would cache the more complicated it seems tbh. Truffle has some hardwired behavior and configurability deficits that don't really work in our favor here.

About how long is a coverage run taking for you? What proportion of the time is

[2018-06-15 17:28] Fang- commented on #244
Initial compile is ~13 seconds. It then spends nearly three minutes instrumenting, and another ~18 seconds to compile again afterwards. So, instrumenting is definitely the majority of the time here.

I naively figured you could just store an md5 hash of the source files alongside the instrumented versions, and only re-instrument if the source file no longer matches the appropriate hash. But there'

[2018-06-15 18:45] cgewecke commented on #244
Oh . . . 3 min is appalling. Can you share your `.solcover.js`?

I think you should only see times like that if you're using the `copyNodeModules` option. In most cases you should be able to get more normal performance by using the `copyPackages` option to only specify Solidity packages you've installed with npm. The way Truffle has historically resolved solidity imports doesn't search recursively

[2018-06-15 18:52] Fang- commented on #244
Yes, I already read about `copyPackages`. My `.solcover.js` looks like this:

[code]

You already produce a `coverage/` output folder, it might make sense to put it in there. But that's ultimately up to you.

[2018-06-15 18:56] cgewecke commented on #244
Ah smart! Ok you win. I don't understand how the instrumentation can be taking that long. Like zeppelin is 107 contracts and it's nowhere near that.

[2018-06-15 19:00] cgewecke commented on #244
Idk actually, let me check that out....

[2018-06-15 19:02] Fang- commented on #244
[Some](https://github.com/urbit/constitution/blob/master/contracts/Ships.sol) of our [contracts](https://github.com/urbit/constitution/blob/master/contracts/Constitution.sol) are kinda big? But nothing absurd, and it's only like 11 contracts in total.

Thanks for your consideration!

[2018-06-15 19:08] cgewecke commented on #244
Yes cool let me look! I just ran Zeppelin and everything went in ~10 sec. The compilation is the big time sink for them. Just pinged you on gitter.

[2018-06-15 19:41] cgewecke commented on #244
@Fang Agreed. It's surprisingly bad. . . confirmed that it's 3 min and seems like Ships and Constitution are the taking quite while.

[2018-06-15 22:30] etsangsplk opened #245 "ENOENT: no such file or directory, open './allFiredEvents'"
It looks like no such file or directory, open './allFiredEvents' is a recurring problem .

At cleaning phase:

Cleaning up...
Event trace could not be read.
Error: ENOENT: no such file or directory, open './allFiredEvents'
Exiting without generating coverage...

[2018-06-15 23:29] cgewecke commented on #245
@etsangsplk Usually people see this error when they aren't running the special coverage enabled testrpc client that `solidity-coverage` uses. Could you share your `truffle.js` and `.solcover.js`? And look over the README to make sure your setup is correct?

It's important the network ports are right (defaults to 8555) and that truffle doesn't accidentally connect to a normal ganache instance.

[2018-06-16 00:42] etsangsplk commented on #245
truffle-config.js
[code]
.solcover.js
[code]

[2018-06-16 00:54] etsangsplk commented on #245
and I use ganache-cli

[2018-06-16 01:10] etsangsplk commented on #245
scTopics is created..
allFiredEvents is never created.

[2018-06-16 01:30] cgewecke commented on #245
@etsangsplk Instead of ganache-cli use `testrpc-sc` as shown [here](https://github.com/sc-forks/solidity-coverage/blob/master/docs/faq.md#running-testrpc-sc-on-its-own). It comes with solidity-coverage  - there's nothing special to download.

[2018-06-16 01:39] etsangsplk commented on #245
@cgewecke I alreayd did
./node_modules/.bin/testrpc-sc -> ../ethereumjs-testrpc-sc/build/cli.node.js

[2018-06-16 01:48] etsangsplk commented on #245
Anyway to force it to create the file or user to set what file to create?

[2018-06-16 03:39] asoong opened #246 "Problem instrumenting Constructor 0.4.24"
Hi there, running v0.5.4 and running into an issue with my constructor:

`There was a problem instrumenting ./coverageEnv/contracts/core/SetToken.sol: SyntaxError: Expected ".", "[", "constant", "internal", "private", "public", comment, end of line, identifier, or whitespace but "(" found. Line: 132, Column: 16`

The source could can be found here: [SetToken.sol](https://github.com/SetProtocol/set

[2018-06-16 04:35] cgewecke commented on #245
To be clear, in one terminal window you're launching the testrpc-sc
[code]
and in a second terminal you're running the coverage tool, correct?
[code]

The file must be generated in the course of the coverage run - it contains all of the coverage events that are fired as your tests run. These are then processed by the tool to generate the report.

[2018-06-16 05:00] cgewecke commented on #246
@asoong I cloned SetToken, un-commented your skip file entry for `SetToken.sol` and ran `npm run coverage`. Everything just worked.
[code]
Coverage report:

![screen shot 2018-06-15 at 9 56 48 pm](https://user-images.githubusercontent.com/7332026/41495902-19e297f2-70e7-11e8-8aa9-4f9d9a5027bf.png)

Tests look really nice by the way :) Do you have any idea what might be causing this difference?

I'm

[2018-06-16 05:18] amexperts opened #247 "Change gasLimit"
Is there anyway to set the gasLimit. My contract has a feature where by we test the gas sent by the transaction and reject if to high. Our tests work fine with truffle test.. but with solidity coverage we get a fail and as such our coverage report is also incorrect.

Cheers

[2018-06-16 05:39] cgewecke commented on #247
No, unfortunately this is a real problem that we can't really do anything about. The coverage tool instruments by injected events into the code and these require extra gas to execute. Any gas based calculations will be wrong.

Out of curiosity, why do you make this check?

You might try another coverage tool that's in development at OxProject [here](https://www.npmjs.com/package/@0xproject/sol-cov

[2018-06-16 17:45] amexperts commented on #247
We are creating a POC that stops people taking advantage of using high gas prices to jump to the top of the pile. Specifically we have done it for low difficulty ERC918 token mining.. but the use case has other cases such as auction sites. I have written up more here:  https://github.com/liberation-online/MineableToken

[2018-06-16 20:11] etsangsplk commented on #245
@cgewecke Yup I also have done the 2 terminals approach. The setup I have is essentially the same as
OpenZeppelin/openzeppelin-solidity

[2018-06-16 21:01] cgewecke commented on #245
@etsangsplk Can you share a link to your project so I can try to reproduce this? I'm out of ideas.

[2018-06-17 01:03] asoong commented on #246
Unsure, but seemed to be my computer only. Heh heh, blasted away and it's working fine now. Thank you for your time!

[2018-06-17 01:03] #246 closed

[2018-06-17 01:06] cgewecke commented on #246
Sweet! np.

[2018-06-17 05:43] cgewecke commented on #247
@amexperts Ah interesting! Thanks for the link.

[2018-06-18 11:32] ekreda opened #248 "CompilerError: Stack too deep, try removing local variables."
Hi I'm using solidity-coverage on a few contracts (all using default configuration) but on one of my contracts I'm getting:
CompilerError: Stack too deep, try removing local variables.
Compilation failed. See above.

Naturally the sol file compiled exception free when it's compiled not by solidity-coverage.

[2018-06-18 11:59] ilanDoron opened #249 "Tests fail only with coverage"
Hi
I am using coverage tool for a version update.
About 32 tests fail only in coverage run. Out of 32 fails I can explain 2.
its this repo:
https://github.com/KyberNetwork/smart-contracts/tree/ilan/checkMaxDestOnProxy
Can u help me figure it out.
I am running with coverage tool 0.4.9

[2018-06-18 14:15] cgewecke commented on #245
@etsangsplk Is this closeable?

[2018-06-18 14:18] cgewecke commented on #249
Yes - this is a known issue that especially affects wallet implementations. It's common if you have a wallet in your contract set to skip it for coverage run using the `skipFiles` option.

[2018-06-18 14:19] cgewecke commented on #248
@ekreda Could you provide any more information about this? How many local variables are defined in that function?

[2018-06-18 14:59] ekreda commented on #248
@cgewecke the max solidity allow (8)...
My guess is when you compile the code you add at least one var to the function - hence the "CompilerError" created.

We managed to overcome this for now by refactoring our code and reduce the local variables as suggested - once done everything is working back as expected.

[2018-06-18 15:08] cgewecke commented on #248
@ekreda Oh good, thanks for raising this.

For anyone else running into this there's discussion at Solidity [here](https://github.com/ethereum/solidity/issues/3222#issuecomment-347031982) about how to address the problem under non-coverage conditions. TLDR; pack variables into structs.

[2018-06-18 16:40] etsangsplk commented on #245
Just tried and also noticed there is a zombie testrpc process

[2018-06-18 16:40] #245 closed

[2018-06-22 22:26] marinatorras opened #250 "Error when running SC on contracts using experimental ABIEncoderV2"
I am running Solidity Coverage on a contract that uses structs with experimental ABIEncoderV2. The contract compiles and runs on Truffle, but when I run SC on it I get the following error:

`SyntaxError: Expected comment, end of line, string, or whitespace but "A" found. Line: 2, Column: 21
Exiting without generating coverage...`

The line where SC crashes is the following:

`pragma experimental A

[2018-06-22 22:28] cgewecke commented on #250
@marinatorras Thank you, perfect. Will fix in the next couple days.

[2018-06-22 22:29] kmiyachi commented on #250
+1

[2018-06-22 22:29] Astrovicis commented on #250
+1

[2018-06-22 22:29] shessenauer commented on #250
+1

[2018-06-24 05:37] barakman opened #251 "Heap out of memory when reading events from file (50,000 tests)"
Running a massive set of tests, I get this:
[code]

The contents of file `.solcover.js`:
[code]

Environment:
- Windows 10
- node 8.11.2
- npm 6.1.0

[2018-06-24 05:49] barakman opened #252 "Upgrade testrpc-sc when ganache floating timestamps issue is fixed"
I think that you might want to add in the [FAQ document](https://github.com/sc-forks/solidity-coverage/blob/master/docs/faq.md) a note about testing Solidity code which uses `now` (or `block.timestamp`).

From what I've noticed, `solidity-coverage` and `truffle test` may show different results when testing such code. I would assume that this has something to do with "stubs" added by `solidity-cove

[2018-06-24 21:07] oaks-view opened #253 "Error: ENOENT: no such file or directory, open '/Users/oaks-view/coverageEnv/.env’."
I get this error whenever I try to generate a coverage report for my node(express) application. I m running version 0.5.4 solidity-coverage and im not using any configuration through .solcover.js. Im
This problem it appears to be an issue with solidity-coverage itself.  When it starts up it is supposed to copy all assets to a subdirectory prior to execution - however it appears to miss files begin

[2018-06-24 21:32] cgewecke commented on #253
@oaks-view Ah yes, that makes sense. I think the problem is [here](https://github.com/sc-forks/solidity-coverage/blob/master/lib/app.js#L68) where we list the files in the root directory. We're not using the `-A` flag.

Will fix this shortly. Thank you!

[2018-06-24 21:35] cgewecke commented on #251
@barakman Modified your issue title to make to disambiguate your case from the one we already advise about in the FAQ.

I don't know how to fix this. If anyone has any ideas, please weigh in.

[2018-06-28 19:58] victorvanderhulst commented on #240
I have exactly the same issue. Is there a solution found?

[2018-06-28 20:07] cgewecke commented on #240
@victorvanderhulst How are you installing?

[2018-06-28 20:35] gulshanvasnani commented on #180
Any solution for this problem.I am also facing similar issue with example same message on mac.

[2018-06-29 06:48] barakman commented on #251
@cgewecke:

I did a quick drill-through on the `solidity-coverage` source code.

The reason for this out-of-memory-problem is the line:

    .on('line', line => this.events.push(line))

In file `app.js`  / function `generateReport`.

I believe that a working solution would be to save these lines into a text file instead of an array.

You will then also need to change function `generate` (in file `

[2018-06-29 17:22] kmiyachi commented on #250
Hey, any updates on this fix. Do you have any ideas of what file this bug is in/ if it is an easy fix by just avoiding calling an error in the parser when you hit the 'ABIEncoderV2' string?

[2018-06-29 18:16] cgewecke commented on #250
@kimyachi I'm so sorry - I didn't get to this yet this week - things are slightly crazy at work. Will **really** fix this ASAP.

[2018-06-30 04:45] victorvanderhulst commented on #240
@cgewecke By following the instructions in the Readme.
I just run:
`npm install --save-dev solidity-coverage`

Running ./node_modules/.bin/solidity-coverage results in:

[code]

[2018-06-30 05:00] cgewecke commented on #240
@victorvanderhulst You shouldn't have to do this but if you run
[code]
does that work?

Are you also on OSX like @thackerronak?

I'm on OSX and I don't get this error. There must some difference in the way our Node permissions are configured.

NB: we invoke that file directly because there have been issues for yarn users invoking the `.bin`.

[2018-06-30 07:48] barakman commented on #251
Note:

The solution above does not work, because the `allFiredEvents` stream is being read asynchronously.

I will post an update asap.

[2018-06-30 07:55] victorvanderhulst commented on #240
@cgewecke Thanks, permission denied error is resolved ;)
And I could figure this out myself of course... too bad ;)

I'm using MacOS indeed.

[2018-06-30 18:10] cgewecke commented on #240
@victorvanderhulst Ok cool - I'm going to re-open this because it's weird and `chmod` should not be necessary.

[2018-07-02 00:35] cgewecke commented on #250
@marinatorras This should be fixed in `0.5.5` - thanks for reporting and apologies for the delay.

[2018-07-02 00:35] #250 closed

[2018-07-02 00:36] cgewecke commented on #253
This should be fixed in `v0.5.5`. . . please ping if you continue to have problems with it.

[2018-07-02 00:36] #253 closed

[2018-07-02 16:47] marinatorras commented on #250
@cgewecke Awesome, thank you so much!

[2018-07-03 21:45] HarryR commented on #250
Can confirm, ABIEncoderV2 doesn't barf with 0.5.5.

[2018-07-04 02:53] qinghua0120 opened #256 "Can't install on Ubuntu 16.04.3"
Hi,
   I meet the below error when try to install on ubuntu 16.04.3 via "npm install --save-dev solidity-coverage", who can help me to fix it?

npm ERR! argv "/usr/bin/nodejs" "/usr/bin/npm" "i" "solidity-coverage"
npm ERR! node v4.2.6
npm ERR! npm  v3.5.2
npm ERR! code ENOSELF

npm ERR! Refusing to install solidity-coverage as a dependency of itself
npm ERR!
npm ERR! If you need help, you may rep

[2018-07-04 02:54] qinghua0120 commented on #256
ubuntu@ip-172-18-1-199:~/solidity-coverage$ vi npm-debug.log

0 info it worked if it ends with ok
1 verbose cli [ '/usr/bin/nodejs',
1 verbose cli   '/usr/bin/npm',
1 verbose cli   'install',
1 verbose cli   '--save-dev',
1 verbose cli   'solidity-coverage' ]
2 info using npm@3.5.2
3 info using node@v4.2.6
4 silly loadCurrentTree Starting
5 silly install loadCurrentTree
6 silly install readLocalPa

[2018-07-04 05:07] qinghua0120 commented on #256
@cgewecke
I am not use the truffle.
Currently i use the Remix to make a smart contract and pass the testing on ropsten.
I want to use the solidity-coverage to check the code of smart contract.
Can u use it in windows 10?

[2018-07-04 05:10] cgewecke commented on #256
How are you testing your contracts? The tool runs your unit tests and reports which lines of your contracts were executed during them. There are some notes about running on Windows in the README.

[2018-07-04 05:42] cgewecke commented on #256
Yes exactly @qinghua0120. Truffle is a common tool people use and for various reasons solidity-coverage currently assumes your project is organized with it.

Other ethereum testing frameworks you might be interested in:
+ [0xProject](https://github.com/0xProject/0x-monorepo) (they have their own coverage tool).
+ [Embark](https://github.com/embark-framework/embark) - it might be possible to adapt

[2018-07-04 05:44] cgewecke commented on #256
I'm going to close this because it seems like your installation issue related to not installing within the context of a solidity project.

[2018-07-04 05:44] #256 closed

[2018-07-05 12:42] oaks-view commented on #253
@cgewecke thanks for the update. The issue is resolved

[2018-07-09 07:20] 4000D opened #257 "Unable to compile source code not containing contract"
I usually use `_imports.sol` file just to import contracts from node_modules. `_imports.sol` is required to get truffle artifacts saved in `build/contracts` directory.

But solidity-coverage doesn't support a solidity file which does not contain `contract`.

[2018-07-10 14:31] cgewecke commented on #257
@4000D Sorry I just have a few questions:

+ Can you link to a project on Github where you are doing this so we can see what's going wrong?  What is the error / result?
+ Do you have tests for these imports and need to get coverage for them?
+ Is it possible to insert a fake, empty contract with a constructor in the `_imports.sol` to get around this problem? You could omit that contract from the r

[2018-07-10 14:38] cgewecke opened #258 "Investigate if Solidity 0.5.0 will break solidity-coverage"
One breaking change is the [removal of the constant key from the ABI](https://github.com/ethereum/solidity/pull/4090). However it looks like SC will be ok with this, [here](https://github.com/sc-forks/solidity-coverage/blob/master/lib/preprocessor.js#L72)? We don't really touch the ABI directly.

[2018-07-10 15:54] cgewecke commented on #238
This issue looks like it might get a GitCoin bounty. Very exciting. Thank you @vs77bb!

To whomever is interested in working on it - I *think* this may be an infinite loop in [preprocessor.js](https://github.com/sc-forks/solidity-coverage/blob/master/lib/preprocessor.js) for some uncommon Solidity constructions. You might also just try running the failing Solidity examples above through the instru

[2018-07-11 11:14] h3ph4est7s commented on #238
The exclusion issue arrise when the line
https://github.com/sc-forks/solidity-coverage/blob/a40ba7b1b4c4fe03352eb4899aa27931a6734f6b/lib/app.js#L390
in `postProcessPure` does not properly check for excluded files. #259 is addressing this issue by adding an exclusion file/folder check.
As for the bug itself the process "hangs" (in the matter of fact is working) because of the unbracketed singleton

[2018-07-11 14:21] cgewecke commented on #238
Ok excellent @h3ph4est7s, thanks so much. That definitely satisfies the diagnosis part of this bounty in my view. PR looks reasonable as well although it would be nice if there was a less awful algorithm in the pre-processor (I wrote it).

Also @h3ph4est7s to be clear - you and @mttmartin are different people?

[2018-07-11 14:42] mttmartin commented on #238
Hi @cgewecke, yes, we are different people.

[2018-07-11 16:00] cgewecke opened #260 "Upgrade testrpc-sc"
There is growing drift between ganache-cli and testrpc-sc.

For example, since `6.1.3`, reason string functionality has been added and the client has begun returning false when a `view` function fails a require gate (instead of throwing a revert error). . .

[2018-07-12 00:38] vs77bb commented on #238
Hi @h3ph4est7s would you mind claiming this [on Gitcoin here](https://gitcoin.co/issue/sc-forks/solidity-coverage/238/754)? @mttmartin has kindly agreed to give up his 'Start Work' here as he hadn't gotten going quite yet. We can add you from the wait list once you start work.

[2018-07-12 08:54] h3ph4est7s commented on #238
Hi @vs77bb the project type is `Traditional` so its 1 worker at a time i cannot participate if there is a way that i don't currently know please inform me 😄. Also i wanted to clarify that i already have the diagnosis due to a project im working on and using oraclize service with `solidity-coverage` and i wasn't targeting on the bounty in the first place (it came out as a bonus) also i want to apol

[2018-07-12 10:22] vs77bb commented on #238
@h3ph4est7s you should be good to go now! Please try again. Thanks for the clarification as well, this is a learning for us as a Gitcoin platform as you clearly had context coming in which made it easier for this issue to be solved - which ultimately is our goal. It'll be important for Gitcoin to keep this in consideration and account for it as the platform grows.

[2018-07-12 13:47] cgewecke commented on #238
Also not sure this is within the scope of the bounty since skipping is an effective workaround for both the cases mentioned in the issue, but as a note to self, it's possible we should:

+  break out the `pure` and `view` [part](https://github.com/sc-forks/solidity-coverage/blob/a40ba7b1b4c4fe03352eb4899aa27931a6734f6b/lib/preprocessor.js#L69-L80) of the pre-processor in its own method.
+ Run acro

[2018-07-12 15:02] barakman commented on #188
@cgewecke:

NP.

I still have this type of code in my tests, and they run smoothly on both `truffle test` and `solidity-coverage`.
So I am left to assume that it was resolved at some point between the `solidity-coverage` version which I was using at the time (not specified here unfortunately) and the one which I am using now (0.5.4).

I am unable to precisely reproduce the old version at the time

[2018-07-12 15:09] mttmartin commented on #238
No worries @h3ph4est7s! I'm glad to see the bounty go to you, since you could turn this around so quickly. :)

[2018-07-12 15:12] cgewecke commented on #188
Ok great, thanks @barakman. Closing.

[2018-07-12 15:12] #188 closed

[2018-07-12 19:48] h3ph4est7s commented on #238
@cgewecke to run effectively oraclize tests the bridge must be used but so far i haven't noticed any bad interaction with `solidity-coverage` the oraclize system is consisted of 3 parts, the client-code `usingOraclize`, the `resolver` and the actual contract. the 2 are deployed by the bridge and are not under any coverage because they are outside of scope. Also the PR https://github.com/sc-forks/s

[2018-07-14 00:55] h3ph4est7s commented on #238
@cgewecke i pushed 6221e8966f8d1c2651eee6c0fcd11353d578c4c7, b39a31a76d26fbc01a22a5b39e24936f2e746fc1, 71320c06a13f3c62019d44a86b5d357aa2dfe3c9 and 7241af865ec386774f9b82ca66faaeb8072bb3c8 in https://github.com/sc-forks/solidity-coverage/pull/259 the first stage is completed according to the description of the process here https://github.com/sc-forks/solidity-coverage/issues/238#issuecomment-40462

[2018-07-14 02:34] cgewecke commented on #238
Ah ok interesting! I'm satisfied with this solution - great work @h3ph4est7s!

@vs77bb - @h3ph4est7s has completed the work this bounty successfully. Thanks again both of you for helping here.

[2018-07-18 22:08] juztin opened #261 "Fails with: `Uncaught Error: Contract transaction couldn't be found after 50 blocks`"
Have a project where quite a few tests are being created programatically, within 4 test files _(around 230 tests in total)_.

When running either `truffle test` or `truffle develop`, then `test`, all tests run as expected with no exceptions.

When running with `solidity-coverage`, after the first test or two things seem to freeze for a second, then `ERROR: Uncaught Error: Contract transaction coul

[2018-07-18 22:58] cgewecke commented on #261
@juztin Can you share your code? It's super unusual to see this code with testrpc / ganache. It implies that the client is mining. Is that the case?

[2018-07-20 05:46] vs77bb commented on #238
@h3ph4est7s just paid out! Great work here 🙂

[2018-07-20 22:23] juztin commented on #261
Hey @cgewecke,

I think I'm gonna close this for now.
I can't post the code I've been using _(it's for work, and you know how they can be)_.
But I think it was related to some funky multi-promise stuff.
I ended up backtracking a bit on having super dynamic/generated tests, and the issue has gone away. _(it was probably something with my code to be honest)_.

[2018-07-20 22:23] #261 closed

[2018-07-20 23:12] cgewecke commented on #261
Ok sweet thanks @juztin

[2018-07-23 16:03] EdsonAlcala commented on #191
yeah, I solved it using @area code, just ran it after the coverage report was generated from solidity-coverage.

[2018-07-24 20:51] AndyWatt83 commented on #112
Hi folks. Unfortunately, I'm still seeing errors running this on Windows. After trying the above, I got:

Error: ENOENT: no such file or directory, open 'YOUR_PATH\allFiredEvents'

..and manually adding that directory resulted in:

Error: EISDIR: illegal operation on a directory, read

I'll keep on digging!

[2018-07-25 13:05] aleybovich opened #262 "Possibility to specify a custom mnemonic for the embedded rpc node"
My unit tests are using a hardcoded set of addresses/public keys derived from a specific mnemonic (I didn't find a way around that as I needed to know public keys of ganache accounts that were used in the unit tests). So now my unit tests pass, but solidity-coverage fails as it spins its own node with a different set of accounts. Is there any way to add the ability of providing a custom mnemonic t

[2018-07-25 13:16] aleybovich commented on #262
I just figured it out - added an option to `.solcover` so it now looks like:

[code]

Thanks for making it configurable!

[2018-07-25 13:16] #262 closed

[2018-07-25 22:13] dmdque opened #263 "Doesn't work with pure functions as parameter"
I'm using a [library function](https://github.com/cryptofinlabs/cryptofin-solidity/blob/master/contracts/array-utils/UIntArrayUtils.sol#L6) which consumes a pure function as a parameter:

[code]

And get the following:

[code]

It looks like [`preprocessor.run`](https://github.com/sc-forks/solidity-coverage/blob/master/lib/preprocessor.js#L69) only considers function declarations, not functions as

[2018-07-26 01:52] cgewecke commented on #263
@dmdque Interesting! There's also an issue testing pure functions in Libraries that's documented in #234 (there's a work around described). Will look into this, thanks for the nice example.

[2018-07-26 07:49] dmdque commented on #263
Got it, don't think I've run into that one.

My current temporary workaround is to modify all affected functions to be non-pure (and non-view).

[2018-07-26 10:07] aleybovich commented on #190
@cgewecke - are you planning to implement this in the future? It would be a very useful feature for many, I'm sure. For example, many contracts have trivial setters with no logic besides assigning a variable (like changing a dependent contract address) and those could be excluded from unit tests.

[2018-07-27 17:39] sergeyfsv-da opened #264 "Feature request. Relative path for node_modules and exclude filter"
I'd like to extract all smart contract related files into a separate directory. .\smart-contract\, for example.
It content could be
\contracts
\migrations
\tests
.solcover.js
However, right now I cannot do this, because my smart contract depends on openzeppelin-solidity, and it seems that copyPackages is looking for node_modules folder only in the current directory.

I also do not want to put my .

[2018-07-27 18:58] cgewecke commented on #264
@sergeyfsv-da To be clear you'd like to organize your project like this?
[code]

FWIW #236 added support for symbolic links so that solidity-coverage could be used with Lerna/Yarn-workspaces. In that pattern there are node_modules local to each subdirectory but their contents are hoisted to the top level and yarn manages everything with symlinks.

Additionally, with the newer version of Truffle (4

[2018-07-28 01:46] thegostep opened #265 "Coverage fails to compile on second pass"
I am working on a large project and not able to successfully run the coverage. The error seems to occur on compilation of the openzeppelin library in preparation for the tests. All the truffle tests should pass.

[code]

[2018-07-28 04:47] cgewecke commented on #265
@thegostep

I'm not positive but I don't think this happening during compilation - the error is coming from web3 and if it's happening immediately before the tests run it's likely the result of an undefined constructor parameter being passed to a deploy function in the migrations that Truffle runs before the tests.

Not sure why SC would mess this up though . . . is it possible to disclose the Pol

[2018-07-28 17:32] cgewecke commented on #264
@sergeyfsv-da Out of curiosity, why is copying the `.git` folder a problem? We could easily filter that out...

[2018-07-29 12:33] thegostep commented on #265
Thank you for the tips, I've looked through the migrations file again but there is nothing out of the ordinary. I am working on [poly_oracle](https://github.com/PolymathNetwork/polymath-core/tree/poly_oracle).

[2018-07-30 19:59] thegostep commented on #265
Yes! That was it. Thank you for catching my slip up.

[2018-07-30 19:59] #265 closed

[2018-07-30 20:09] cgewecke commented on #265
@thegostep Oh good, glad it works.

[2018-07-31 09:54] noslav opened #266 "Solcover giving binary (10 results on OpenST-Protocol repo."
Ran solcover with the following packages on - `develop` of  `https://github.com/OpenSTFoundation/openst-protocol.git`

* name: openst-protocol,
  version: 0.9.1,
  description: ,
  devDependencies: {
    abi-decoder: 1.0.9,
    assert: 1.4.1,
    bignumber.js: 4.1.0,
    ganache-cli: 6.1.0,
    keccak: 1.4.0,
    rlp: 2.1.0,
    solidity-coverage: ^0.5.5,
    solparse: 2.2.5,
    truffle: 4.1.8,

[2018-07-31 10:03] noslav opened #267 "Solcover giving binary (100% or 0) results on OpenST-Protocol."
Running solcover with the following packages on - `develop` of  `https://github.com/OpenSTFoundation/openst-protocol.git`

  name: openst-protocol,
  version: 0.9.1,
  description: ,
  devDependencies: {
    abi-decoder: 1.0.9,
    assert: 1.4.1,
    bignumber.js: 4.1.0,
    ganache-cli: 6.1.0,
    keccak: 1.4.0,
    rlp: 2.1.0,
    solidity-coverage: ^0.5.5,
    solparse: 2.2.5,
    truffle: 4.1.

[2018-07-31 10:07] gulshanvasnani commented on #180
Following steps worked for me :-
1. rm -rf node_modules  && npm cache --force clean && npm install
2. touch allFiredEvents
3. ./node_modules/.bin/solidity-coverage
But as mentioned by @XBWer ,it doesn't report the correct coverage.

[2018-07-31 19:46] cgewecke commented on #266
Duplicate of #267

[2018-07-31 19:46] #266 closed

[2018-07-31 19:47] cgewecke commented on #257
@4000D Closing due to lack of response. Please ping if this is still a problem.

[2018-07-31 19:47] #257 closed

[2018-07-31 19:51] cgewecke commented on #267
@noslav Thanks for opening, will take a look. At a minimum the contracts need to compile and the tests run correctly before a coverage report can be generated.

There's a another issue reporting this compilation error at #248

[2018-08-01 17:07] noslav commented on #267
thanks for your response @cgewecke, got solcover running with no compilation warnings or errors on the protocol - but was coming across the issue #109 for which the suggested solution helped me generate the report, thanks for pointing out the fix! 👍

[2018-08-01 17:42] cgewecke commented on #267
Ok great @noslav - are you getting a report now? If so we will close here and continue to track the stack too deep issue #248.

Also how did the stack too deep resolve itself?

[2018-08-02 10:02] noslav commented on #267
@cgewecke  Yes, I was indeed able to generate a nice non-binary report. We can close this issue and track the stack too deep @ #248. I fixed it by removing a `require` statement that leads to one failing test overall , using truffle test on the entire repo - not using solcover. Also, while running solcover some of the truffle tests on the contracts fail (causing improper reporting for those respec

[2018-08-02 10:02] #267 closed

[2018-08-02 14:15] cgewecke commented on #267
@noslav `solidity-coverage` just uses your Truffle, so there shouldn't be any variance there. The main causes of test failures right now are from . . .
+ tests that have hardcoded gas values e.g: myContract.myMethod({gas: 200000}). (see FAQ)
+ tests that call view/pure library methods directly instead of through another contract (see #234)
+ test of methods that evaluate gas within Solidity (see #

[2018-08-02 19:54] nventuro opened #268 "Mysterious coverage drop?"
Hi!

On this [OpenZeppelin PR](https://github.com/OpenZeppelin/openzeppelin-solidity/pull/1137), I noticed our [coverage of a contract dropped to 0](https://coveralls.io/builds/18294588/source?filename=contracts/ownership/HasNoTokens.sol), though the [changes](https://github.com/OpenZeppelin/openzeppelin-solidity/pull/1137/files#diff-01929739950f027082f56ccf6991ba3e) to that file were insubstantia

[2018-08-03 03:13] nventuro commented on #268
Turns out it was my fault all along, thanks @cgewecke for spotting it right away! I fixed it in [this PR](https://github.com/OpenZeppelin/openzeppelin-solidity/pull/1149).

[2018-08-03 03:13] #268 closed

[2018-08-03 03:17] nventuro opened #269 "Skip assertions"
In OpenZeppelin, we're considering dropping some of our `assert`s and changing them to `require` (see [here](https://github.com/OpenZeppelin/openzeppelin-solidity/issues/1120) for some relevant discussion), changing the semantics of `assert` to 'shouldn't ever fail unless the code is buggy'. Because of that, `solidity-coverage` will report a line with partial coverage on each `assert`.

Could the

[2018-08-03 03:46] cgewecke commented on #269
@nventuro Yes. This was raised in #149 earlier this year and looking through the comments there I feel like both sides are reasonable...

I *think* we could add this as an option fairly easily as well.

[2018-08-03 03:53] cgewecke commented on #268
Sweet!

[2018-08-03 09:49] area commented on #260
We'd very much like the reason string functionality in Colony, so I'm taking a crack at this, despite not having done it since it became so complicated! Everything in the [upgrading testrpc-sc](https://github.com/sc-forks/solidity-coverage/blob/master/docs/testrpc-sc.md) file seems to be right, apart from the fact that I can't see how `ganache-core-sc` depends on `provider-engine-sc`. Is that no l

[2018-08-03 09:55] nventuro commented on #269
An option would be great, since there's not yet consensus on this topic. I look forward to it!

[2018-08-03 16:09] cgewecke commented on #260
Oh thanks! Is it clear what the changes at VM are? I made some additional changes last falll after byzantium that short-circuit the limits on contract size from EIP 170. Newer ethereumjs-vm has a flag that makes this optional . . .

Yes, no longer the case

Yes. Actually I've never heard of the `-with-lease`, I have to look that up. But force. You could do this however you want though . . .

[2018-08-03 16:25] area commented on #260
So the relevant branches are `coverage-20180803 on everything apart from `solidity-coverage`, where the branch is `20180803`. I'm running against our (Colony's) test suite with the `20180803` branch, but it looks good so far.

[2018-08-03 16:43] cgewecke commented on #260
Ok great!

[2018-08-04 11:10] noslav commented on #267
@cgewecke everything works great! Generated very helpful reports - will be integrating it for TravisCI soon, config file setup directions were really helpful!!

[2018-08-06 07:01] asoong opened #270 "Error: Exceeds block gas limit when Norpc: true"
Hi again,

I'm trying to have coverage run on a local testrpc (via `norpc: true`) instance because we're loading some contracts from a blockchain snapshot when we fire up ganache (0x contracts). Our script to run testrpc is:
`ganache-cli --db blockchain --networkId 50 --accounts 20 -l 10000000 -e 1000000 -m 'concert load couple harbor equip island argue ramp clarify fence smart topic'"`

I've upda

[2018-08-06 16:48] cgewecke commented on #260
@area  Ah ok - I'll take a look this afternoon....

[2018-08-06 17:16] asoong commented on #270
I updated ganache to 6.1.2 and am using `./node_modules/.bin/testrpc-sc` to fire up testrpc, still running into the same rror:

    at Object.InvalidResponse (/Users/alexsoong/Source/set-protocol/set-protocol-contracts/node_modules/truffle/build/webpack:/~/web3/lib/web3/errors.js:38:1)
    at /Users/alexsoong/Source/set-protocol/set-protocol-contracts/node_modules/truffle/build/webpack:/~/web3/lib

[2018-08-06 21:18] asoong commented on #270
Whoops, I still included the gas limit as part of `testrpcOptions`, worked for me after removing and using the default of `0xfffffffffff`

[2018-08-06 21:18] #270 closed

[2018-08-08 05:37] cgewecke commented on #260
@area Was it complaining about not being able to find `ethereumjs-vm`? It builds with `yarn` (which makes absolutely no sense!)

Thanks for doing this. Think `5.1.7` has the changes unless I messed it up.

[2018-08-08 05:37] #260 closed

[2018-08-08 05:39] cgewecke commented on #242
This should now be configurable *in .solcover.js*  thanks to #272. Published with `0.5.7`. Closing but please ping (anyone) if this doesn't resolve the problem.

[2018-08-08 05:39] #242 closed

[2018-08-14 11:16] DimitarSD opened #276 "Unable to integrate solidity-coverage to a framework. Receiving ''no such file or directory, open './allFiredEvents' error"
We're developing a tool called etherlime, which is basically an ethereum development and deployment framework based on ethers.js. We want to integrate solidity-coverage in it. However, we always get this error:

[code]
In order to run the solidity-coverage I have created the following function

[code]

The ``config`` variable contains the following object:

[code]

When the code is executed it use

[2018-08-14 20:28] cgewecke commented on #276
@DimitarSD Hi. Have started looking at this but am having a difficult time. As a baseline:
[code]
A bunch of tests relating to ganache fail.

[code]
Complains that it can't find `etherlime` (from the `require` statement in the LinkedList test). So then I also did:

[code]
and got a little further ... but I'm getting the same kind of errors I see in the etherlime repo tests - `Error: invalid json r

[2018-08-15 11:41] DimitarSD commented on #276
In order to use the etherlime commands, you should do ``npm link``.

I wrote a simple shell script below which will do everything by itself. It will use its current directory as the start point.

[code]

[2018-08-15 15:44] cgewecke commented on #276
@DimitarSD Thanks so much, will check this out..

[2018-08-18 23:48] cgewecke commented on #276
@DimitarSD Did you get this working? Saw a PR merge over there.

[2018-08-19 19:06] Perseverance commented on #276
@cgewecke Yes, It is working now. I rewrote the unit tests we were using and suddenly all started working. Etherlime now has an integrated solidity-coverage inside via the `etherlime coverage` command ;)

<img width="954" alt="screen shot 2018-08-18 at 22 20 17" src="https://user-images.githubusercontent.com/5130509/44312137-18535280-a3fc-11e8-9729-2a414d4bb882.png">

[2018-08-24 01:01] sweatyc commented on #131
I still have this issue on 0.5.7.

I have a `tokenURI()` function that override OpenZeppeline's ERC721Token.sol:
[code]

Then I got this error:
[code]

[2018-08-24 14:42] simondlr opened #277 "Coverage doesn't run when upgrading from 0.5.4 to 0.5.7?"
Hey. Trying to debug this.

I upgraded to 0.5.7, but now none of the coverage wants to run.

The CI just states that "base fee exceeds gas limit".

https://circleci.com/gh/UjoTeam/contracts-badges/56?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link.

Not sure what changed from 0.5.4 to 0.5.7 that causes this to fail now. I had to downgrade back to 0.5.4 to keep it

[2018-08-24 15:13] cgewecke commented on #277
Hi @simondlr - thanks for reporting, will take a look. . . the main difference between the two versions is an upgrade to the coverage client, pulling in recent changes from ethereumjs-vm / ganache-cli (like error reason string support). If your tests run well with ganache-cli 6.1.2 then `0.5.4` should be good.

[2018-08-27 09:51] simondlr commented on #277
So, did more debugging.

Running tests without coverage works fine with latest ganache-cli (6.1.8).

Running against ganache-cli 6.1.8 with solidity-coverage 0.5.4 OR 0.5.7 causes the issues. Solidity-coverage 0.5.4 with built-in testrpc works (since it's an older ganache-cli).

So, something that coverage is doing with my contracts are causing problems with the latest ganache-cli.

[2018-08-27 22:00] alexaltair commented on #248
I'm having this problem as well. We have a complex contract that has already had a bunch of local vars removed due to the limit, so unfortunately I don't think we can remove more for the purpose of coverage testing. (Also unfortunately I can't share the code right now.) I was hoping there might be a compiler flag to increase the limit, but I haven't found it yet.

[2018-08-28 00:14] alexaltair commented on #248
@area I've isolated that the `Stack too deep` error happens before the contracts are even instrumented. Running `truffle compile` gives the same error, even though our test's call to `solc` successfully compiles them, for the same compiler version. This could explain why it's happening even if instrumentation doesn't inject variables.

[2018-08-28 01:40] alexaltair commented on #248
Yep, it turned out that our tests were using using `solc` with the `--optimize` flag. @ekreda In case this is your problem too, I solved it by creating a `truffle.js` config file in accordance with [this](https://www.npmjs.com/package/solidity-coverage#network-configuration);

[code]

[2018-08-29 11:36] djudjuu commented on #234
Thanks for this helpful instruction. I'd like to add that I add to add the ```port: 6545``` line to my ```.solcover.js``` to make it work.

[2018-08-29 23:12] nithinkrishna commented on #131
I seem to be facing the same issue with `0.5.8`.

[code]
`MyContract.sol` inherits from `openzeppelin-zos/contracts/token/ERC20/ERC20.sol` and implments the allowance function with the same signature.
[code]

[2018-08-29 23:17] cgewecke commented on #131
@sweatyc @nithinkrishna Could either of you link to your projects? I will take a quick look.

[2018-08-29 23:56] nithinkrishna commented on #131
@cgewecke I've setup a new project replicating the issue
https://github.com/nithinkrishna/solidity-coverage-issue-131

[2018-08-30 00:59] cgewecke commented on #131
@nithinkrishna I was able to get the example to run without problems by removing everything from `.solcover.js` *except*:
[code]
and just running `./node_modules/.bin/solidity-coverage`.

The npm installed contract dependencies have to be explicitly copied into the `coverageEnv` folder to be instrumented correctly. Sorry about this - it's kind of inconvenient.

Additionally, there's something very

[2018-08-30 02:40] sweatyc commented on #131
Here's a isolated repository containing only solidity scripts and limited libraries:
https://github.com/Block42World/landpot-contracts

I updated to solidity-coverage 0.5.8 but nothing changed.
All scripts can be compile and passed tests, but failed on solidity-coverage...

This is the complete dpp project with frontend etc, in case you need it too:
https://github.com/Block42World/landpot-dapp

[2018-08-30 03:10] cgewecke commented on #131
@sweatyc I got it to run by adding a `.solcover.js` with the following contents. Basically same as the previous comment:
[code]

There's an additional issue in the landpot-contracts where there is a migrations file that doesn't work (2) but just deleted it and everything was fine.

[2018-08-30 05:31] cgewecke commented on #238
Finally addressed this a bit. h3ph4est7s 's patch fix is available as an option starting with 0.5.10.
[code]
If you're skipping files/folders and are experiencing instrumentation hangs this works. If you're using mocks that need to be post-processed but skipping them because you don't want them in the report (Zeppelin is an example of this), this will cause problems.

[2018-08-30 05:31] #238 closed

[2018-08-30 18:50] nithinkrishna commented on #131
@cgewecke Thanks a ton! Works fine now.
It's probably a good idea to maybe add this to the FAQ section.

[2018-08-30 18:55] cgewecke commented on #131
@nithinkrishna Yes, completely agree - the README need a rewrite - it's bewildering and lots of information that should be foregrounded is buried deep in the options. When the tool was first written it was less common for people to install contracts with npm whereas now it's completely standard. Will do this week.

[2018-08-30 22:32] #277 closed

[2018-08-31 10:43] nventuro opened #281 "Instrument public storage variable getters"
Solidity `public` state variables have getter functions automatically generated for them, making them part of the public API of a contract. Testing that they exist and can be used is therefore important, since it helps prevent regression bugs (e.g. the variable becoming `private`). It'd be great if `solidity-coverage` reported which of these getters are being called during testing, so that the one

[2018-08-31 18:14] bingen commented on #131
hey @cgewecke I'm having the same problem here:
https://github.com/aragon/aragon-apps/pull/425/commits/2da188ff9351779a7dc244232421881d1eb251a0
take `apps/vault`, which is kind of simple.
I tried your suggestion, so modified `.solcover.js` to:
[code]
,/home/bingen/workspace/aragon-apps/apps/vault/coverageEnv/contracts/Vault.sol:175:5: TypeError: Overriding function changes state mutability from "v

[2018-08-31 18:49] cgewecke commented on #131
@bingen If you just use `@aragon` does that work? It looks like we're not handling org name-spacing correctly and this needs it's own issue.

[2018-08-31 21:28] bingen commented on #131
@cgewecke Yes, it works. I'm going to submit a PR with a workaround that worked for me too.

[2018-09-02 21:30] sohkai opened #283 "Adding node dependencies includes a lot of unnecessary contracts"
In our use case, one of our contract packages depends on another contract package. However, copying this dependency into the coverage environment results in a ridiculous number of extra contracts being instrumented, due to the inclusion of the dependency's node modules.

The full list of contracts being instrumented in that repo: https://gist.github.com/sohkai/459dc9ab1b3a410e9af6ab9ae07a196c.

It

[2018-09-02 21:32] sohkai opened #284 "Add ability to skip certain files or folders from being copied into the coverage environment"
Similar to `skipFiles`, it would be great to have a `skipCopyFiles` (can't think of a better name right now...) that one could list local files or folders they wouldn't like to include in the coverage environment.

An example use case of this is where you have nested packages, and are using `solidity-coverage` at a non-leaf package.

[2018-09-03 15:41] borysyuk opened #285 "In coverage network some tests failed but when i run `truffle test` all tests passed"
[solidity-coverage.log](https://github.com/sc-forks/solidity-coverage/files/2346079/solidity-coverage.log)
I have test project on solidity. There are a few contracts and libraries. Some of my tests failed when i run your utility. When i "skip" some tests -  i got failed in other contract. But all tests passed when i run `truffle test` or `truffle develop` than `test`.
You can download my code here

[2018-09-03 16:41] cgewecke commented on #283
Oh my, that list is enormous. Which repo are you trying to cover? I'd just like an example to test a solution against.

@bingen Submitted a [PR](https://github.com/sc-forks/solidity-coverage/pull/282) here the other day that lets you target specific org namespaced folders / subdirectories in the `copyPackages` option. Does that help with this problem at all?

[2018-09-03 19:04] cgewecke commented on #285
Hi @borysyuk. There are a couple of weird things Truffle is doing that interfere with the way coverage rewrites the contract artifact ABIs in your case.  Apologies for this. They're fixable...
+ Remove `test/sol`. Truffle's test command automatically recompiles any solidity contracts imported into Solidity tests files, undoing all the work the coverage tool did prior to the test run. Solidity-cove

[2018-09-03 19:14] cgewecke commented on #281
Hi @nventuro 🙂

This is a great idea and captures something important about how solidity is different than other languages - similar to the way `require` has to be treated as a branch in the code instead of a simple statement. Essentially we would be saying that public state variables should be treated as measurable lines. Your implementation idea also LGTM.

Am going to focus work on this tool in

[2018-09-04 09:15] borysyuk commented on #285
@cgewecke Thanks for the help! One question: It is possible to skip test/sol in config file or do something to avoid that problem? I don't want to remove it because there is one important test.

[2018-09-04 15:50] cgewecke commented on #285
@borysyuk Unfortunately no. The problem is caused by behavior at Truffle that we can't change or really work around. Is there a way of representing the same test in JS?

[2018-09-05 13:46] nventuro opened #286 "Improve modifer coverage report"
As of 0.5, modifers report being hit on their definition, but not at the call site. This is an issue because modifiers are mostly used to check preconditions e.g. `onlyOwner`, so not knowing if both branches of the `require` statements inside the modifiers were taken prevents developers from knowing if their test suite is thorough. For example, OpenZeppelin's [Pausable](https://github.com/OpenZepp

[2018-09-05 15:51] borysyuk commented on #285
@cgewecke At this time, i don't know how. Contract which i have tested in `test/sol` is a library with external functions. I have tried to create js test to test it. I have create mock contract to test library so as result, i test mock contract instead library. But truffle has some strange behavior, it raise error when it try `deploy` mock contract which uses library with external calls for testin

[2018-09-07 16:21] chapati23 opened #287 "Error when instrumenting an "if" in an assembly block"
We're getting an error when trying to instrument one of our contracts that has some assembly:

`There was a problem instrumenting ./coverageEnv/contracts/MyContract.sol: SyntaxError: Expected "=:", "for", "function", "hex", "let", "return", "switch", "{", "}", comment, end of line, number, string, or whitespace but "i" found. Line: 29, Column: 7`

It fails in the `if` statement at the bottom.

Any

[2018-09-07 16:57] cgewecke commented on #287
@chapati23 It looks like the parser needs to be updated to handle some of the newer assembly syntax.  Will fix this weekend, thanks for reporting.

[2018-09-08 05:49] maxsam4 opened #289 "TestRPC not being launched on windows"
When generating coverage, rather than executing cli.node.js for running TestRPC, windows opens the file in the default text editor.

[2018-09-10 18:37] asaj opened #291 "Allow globs in skipFiles"
It would be nice to be able to put globs in the skipFiles array

[2018-09-11 05:06] #289 closed

[2018-09-13 09:57] Amxx opened #292 "Error: while migrating Migrations (Exceeds block gas limit)"
I am trying to use solidity-coverage to evaluate my tests scripts. The thing is, my smart contracts are pretty big before adding all extra stuff needed for coverage evaluation, and I got out of gas issues at migration.

I've increassed the gas value in my `truffle.js`

`coverage:
{
	host: "localhost",
	network_id: "*",
	port: 8555,
	gas: 0xFFFFFFFFFFFFF,
	gasPrice: 0x01
}`

and I also modified the

[2018-09-13 14:47] cgewecke commented on #292
@Amxx Yes, it looks like something might have broken with the `-l` option on ganache 6.1.6 and we recently upgraded the client to that version. Also saw this problem recently at #277

Could you try?
+ removing the testrpcOptions from the .solcover.js
+ using the suggested coverage network default for gas:  `0xfffffffffff`

[2018-09-13 14:50] jmendiola222 opened #293 "Fail to find node_module dependencies"
I have a contract that "extends" open-zeppelin one from node modules like:

[code]
But when I run `npm run coverage`, for the standard script `SOLIDITY_COVERAGE=true ./node_modules/.bin/solidity-coverage`, I get:

[code]
And then it just hangs for ever doing:
[code]

Any thought on this? Thanks in advance!

[2018-09-13 15:14] cgewecke commented on #293
@jmendiola222 Could you see if the crash goes away if you write the import line like this?

[code]

[2018-09-13 15:31] jmendiola222 commented on #293
Yes @cgewecke that actually removed the error (even if now I get the `solium` linting error), but seems that the hanging issue has not related with this error, because it still hangs while *"Instrumenting"* one of my contracts.
Is there a `--verbose` option I could use to see in more detail were it does actually hangs?

[2018-09-13 15:47] cgewecke commented on #293
@jmendiola222 We're having some issues instrumenting contracts that have large numbers of view/pure functions or many conditional statements with unbracketed bodies like this:
[code]

The algorithm for instrumenting is inefficient - it just takes a long time. Happy to take a look at your project if it's open-source and see if there's any obvious way of speeding it up.

Working on this problem this

[2018-09-13 16:09] jmendiola222 commented on #293
No @cgewecke, the project is not *yet* open-source, we'll look forward to future improvements then and check if future versiones solve our issue.
**Update**: After about an hour, I got this output:
[code]
Removing `usingOraclize.sol` (wich we not longer have as a dependency) from `installed_contracts` forder solved the issue. Now the coverage works. :tada:

Hope this error helps you on your speedi

[2018-09-13 16:09] #293 closed

[2018-09-13 16:41] cgewecke commented on #293
@jmendiola222 Ah ok yes, Oraclize is a known problem... Thanks.

[2018-09-14 14:49] Amxx commented on #292
It used to give me out of gas messages ... but I guess I somehow reset something and it ~works now.
Still, my tests (that run correctly with `truffle test`) flood me with `Error: sender account not recognized` when running solidity-coverage

[2018-09-14 18:13] cgewecke commented on #292
@Amxx Do you have a link to your project? Happy to take a look.

[2018-09-17 05:11] dovancao opened #294 "I cannot run solidity-coverage in window 10"
I try to run

[code]

But It got this problem. How can i solve it?

![screenshot_1](https://user-images.githubusercontent.com/36324165/45606815-7f533e00-ba72-11e8-9a20-08c7c5e26fff.png)

Thank you for your help!

[2018-09-17 11:13] Amxx commented on #292
the code i'm working not is not public but I managed to create a minimum working example.
[TestContract.sol.txt](https://github.com/sc-forks/solidity-coverage/files/2388286/TestContract.sol.txt)
[999_test.js.txt](https://github.com/sc-forks/solidity-coverage/files/2388289/999_test.js.txt)

[2018-09-18 09:40] Amxx opened #295 "Contracts deployed during migration are not valid?"
I am trying to instrument some smart contracts that are deployed during the migration step. Logs from the migrations steps give me addresses of these contracts.
Later, my tests try to access the smart contracts' functions but I get an error despite the address being the same one as the one in the logs:

`Error: Attempting to run transaction which calls a contract function, but recipient address 0x

[2018-09-26 18:44] bweick commented on #292
@cgewecke I'm having the same issue as well. Most of our test suite runs however coverage returns the `out of gas` error for some tests on `rebalancingSetToken.spec.ts`. I can isolate the problem down to one function call `coreWrapper.deployRebalancingSetTokenAsync`. We use a `constants.ts` file to send a default amount of gas with each transaction which is currently set at `12000000`.

To fix I t

[2018-10-04 08:04] thekevinbrown commented on #287
Hey @cgewecke I'm hitting this issue too, wondering about how the fix is going. Any news? Anything I can do to help?

[2018-10-05 15:24] barakman opened #297 "The 'copyPackages' option assumes that the '.solcover.js' file resides next to the 'node_modules' folder"
My relevant directory structure:
- repo:
  - package.json
  - project:
    - .solcover.js
    - truffle-config.js
    - contracts:
      - xxx.sol
    - test:
      - xxx.js

Hence, after `npm install`, the `node_modules` folder is created one folder above the `.solcover.js` file.

As a result, adding `copyPackages: ["openzeppelin-solidity"]` in this file leads to:
[code]

I also tried `copyPackag

[2018-10-07 16:41] barakman opened #298 "Minor: fix configuration example in the main page"
In the main page, there is a [configuration example](https://www.npmjs.com/package/solidity-coverage#options) which uses `copyPackages: ['zeppelin-solidity']`.

This specific package is actually called `openzeppelin-solidity`, so you may want to spare this issue from many readers who will most likely copy-paste it into their configuration file.

[2018-10-09 09:56] scoriiu opened #299 "Results incorrectly show 0% coverage"
Hi,

Running the solidity-coverage results in 0% coverage, although clearly it's not true. In my example I run truffle test on a single file, which should result in >0% coverage results.

solidity-coverage v0.5.11
MacOS

.solcover:
[code]

truffle.js:
[code]

Results:
[code]

PS: The process even crashes at the end if I don't touch the `allFiredEvents` file in advance. The crash trace:
[code]

I'm

[2018-10-09 19:35] ajhodges commented on #260
Hey @cgewecke, I was hoping that due to the discussion in this thread maybe testrpc-sc had been updated to handle reason string functionality in reverts, but as far as I can tell, solidity-coverage v0.5.11 still does not handle revert reason strings. It looks like this was added in ganache-core v2.2.0: https://github.com/trufflesuite/ganache-core/releases/v2.2.0 which was released after the latest

[2018-10-10 02:51] 0age commented on #287
If you have the flexibility to change the inline assembly a bit, a workaround is to use a `switch` statement instead. So:
[code]
becomes:
[code]

[2018-10-10 05:10] maxsam4 commented on #294
It should be fixed by https://github.com/sc-forks/solidity-coverage/pull/290
You may pick the changes yourself or wait for an npm update to be released.

[2018-10-10 05:19] maxsam4 opened #300 "Using relative paths rather than absolute"
Currently, the path included in the event that is added by the instrumenter is an absolute path which can be huge.

Our instrumented contracts at https://github.com/PolymathNetwork/polymath-core have now become so big due to the absolute paths that they are failing to compile. They instrument and compile just fine if I move the project folder nearer to the root of the system as the absolute path b

[2018-10-10 05:29] maxsam4 opened #301 "Add config option 'forceParse'"
Currently, if `deepSkip` is enabled, all the contracts that are skipped are not post processed to remove stuff like `view` modifiers. This leads to compilation failures when the skipped contract has a `view` function and the interface it inherits is not skipped.

Assume there is an interface Imodule and it is implemented by IfirstModule and IsecondModule. Let the interface define a `view` function

[2018-10-15 14:52] Amxx opened #303 "upgrade web3 to 1.0.0-beta.xx"
I am trying to instrument the coverage of my tests that are written using web3 1.0.0-beta.35.
Apparently, solidity-coverage uses web3 0.20.6, which has a different api. For example, I'm used to doing web3.utils.keccak256, which is not a valid method in 0.20.6.

I'd like not to have to rewrite all my tests ... moreover I'd like to benefit from the ABIEncoderV2 support in web3 1.0.0-beta.36 when it

[2018-10-16 17:52] lacabra opened #304 "code coverage with darq-truffle does not seem to work"
I'm trying to run solidity-coverage using [darq-truffle](https://www.npmjs.com/package/darq-truffle) instead of truffle to no avail. I can't find any information online, hence this issue.

For reference, I'm using the following public repo with branch `coverage`:
https://github.com/enigmampc/enigma-contract/tree/coverage

Relevant observations:
* This is my [truffle.js](https://github.com/enigmamp

[2018-10-25 07:21] Aniket-Engg opened #305 "testrpc-sc doesn't return contract's require error message with revert error"
`testrpc-sc` doesn't return contract's `require` and `assert` error string along with error message as it has been updated in `ganache` and `truffle`. So tests checking the returned error message works fine with `truffle test` but breaks when trying to get coverage.

[2018-10-26 10:17] felix2feng commented on #305
Having same issue here as well when using truffle's latest beta version

[2018-11-01 22:19] Agusx1211 commented on #234
With the new _emitFreeLogs_ flag on [ethereumjs-vm](https://github.com/ethereumjs/ethereumjs-vm), it should be possible to instantiate testrpc setup to permit events on staticcalls, it may be required to add the parameter to test-rpc or ganache.

[2018-11-12 18:00] patitonar commented on #287
is there any plan to address this issue?

[2018-11-13 10:50] PaulRBerg commented on #131
Sorry to notify y'all, but this still doesn't work in `0.5.11`. Here's my project [repo](https://github.com/ChronosProtocol/poc/tree/erc).

My `.solcover.js` file:

[code]

I get:

[code]

I also tried:

[code]

And import openzeppelin in my project instead of the `base` folder. Any suggestions?

[2018-11-15 09:13] andreafspeziale opened #307 "Using ganache-cli "Event trace could not be read""
# System & Dep
- macOS Mojave
- node v10.9.0
- Truffle v4.1.14
- Ganache CLI v6.1.8 (ganache-core: 2.2.1)

# Setup
## truffle.js
[code]

## Ganache command
`"ganache:coverage": "./node_modules/.bin/ganache-cli -p 7545 -g 1 -i 48 -l 17592186044415"`

## .solcover.js
[code]

# Problem
When runnig my `"test:coverage": "./node_modules/.bin/solidity-coverage"`, after starting `ganache` as described abo

[2018-11-27 23:46] NoahHydro commented on #258
One breaking change I've found is that in interfaces, marking `bytes`, `string`, etc. variables with the required `calldata` location throws an error. For example, the below throws `Expected ")", ",", comment, end of line, or whitespace but "v" found.`:

[code]

[2018-11-29 21:29] cgewecke commented on #258
Thanks @NoahHydro.

[2018-11-30 18:34] alex-murashkin opened #309 "Is truffle 5.0.0 supported?"
The package.json currently specifies Truffle 4
https://github.com/sc-forks/solidity-coverage/blob/master/package.json#L49

Does `solidity-coverage` work with projects created using `truffle 5.0.0`?

[2018-12-03 20:55] eduardonunesp commented on #292
Same thing here, is there any fix for this issue?

[2018-12-07 04:39] alsco77 commented on #309
I'm running `truffle 5.0.0-beta.2` and getting compilation errors on some `solc 0.5.x` specific code when executing `solidity-coverage`.

I am keen to know if support for the new solc version is currently in the pipeline?

[2018-12-08 16:51] StefH commented on #292
I also have the same issue:

My command in package.json to run the Ganache CLI and my tests in parallel:
`concurrently --names \"TestRPC,Coverage\" --kill-others \"node_modules\\.bin\\testrpc-sc --port 8555\" \"node_modules\\.bin\\solidity-coverage\" || true`

My **truffle-config.js**:
[code]

And the **.solcover.js**
[code]

The output is like:
[code]

[2018-12-08 17:53] StefH commented on #292
I did update my project to reproduce this error:
See https://github.com/mstack/bootcamp-blockchain-smartcontracts/tree/master/Lab%202

[code]

[2018-12-12 13:05] angus-hamill commented on #309
Would also be keen to hear about this, having issues with my migrations hanging

[2018-12-12 17:48] StefH commented on #309
For a simple/small contract, I'm able to get coverage working
https://github.com/mstack/bootcamp-blockchain-smartcontracts/

See `Lab 2` & `Lab 2 - Completed`
(Note the **truffle-config.js** and **.solcover.js** files for some detail.

However for a bigger complexer contract, I still get a lot of errors.

[2018-12-16 10:23] StefH opened #310 "solidity-coverage adds extra events which make unit-test fail"
It seems that when using the latest solidity-coverage (0.5.11), truffle (5.0.0-next.25) ganache-cli (6.2.4-beta.1) and solc (0.5.0) additional events / logs are emitted during tests which make the unit-tests fail.

My test code was like:
[code]

And I expected **1** event to be submitted : `AddSupplierEvent`, however the output shows:

[code]

Is this by design ?

[2018-12-19 13:32] angus-hamill commented on #309
Couple of issues I've encountered and fixed:

- Disconnecting from `testrpc` while running migrations: for some reason this happens when migrations are longer than ~150 lines, just split up any large migration into multiple small migrations.

- `calldata` storage specifier giving a syntax error: I've opened a PR at https://github.com/sc-forks/solidity-parser/pull/17 for this. You should just be ab

[2018-12-20 11:50] elenadimitrova commented on #258
Breaking on the new `address payable` syntax as well https://circleci.com/gh/JoinColony/colonyNetwork/5422

[2018-12-20 12:10] elenadimitrova commented on #304
I believe `darq-truffle` is depreciated. It was distributed under `truffle@next` but now we have truffle v5

[2018-12-21 09:31] angus-hamill commented on #310
Yes, this is exactly how the coverage works. These events are added in the instrumenting step and then read while running tests in order to determine which lines/branches/etc. were hit.

This test will never be able to pass under coverage in its current state.
Your other option is to modify the test. Perhaps use the `EventEmitter` returned when calling `contract.AddSupplierEvent()`

[2018-12-21 10:06] angus-hamill commented on #258
https://github.com/sc-forks/solidity-parser/pull/17
Opened a PR for the calldata issue here, runs successfully on my project

[2018-12-21 11:53] StefH commented on #310
Correct. Thanks for the confirmation.
Now I am using [truffle-assertions](https://github.com/rkalis/truffle-assertions) to fix this.

See also my question+answer here:
https://github.com/rkalis/truffle-assertions/issues/15
and
https://ethereum.stackexchange.com/questions/64137/solidity-coverage-adds-extra-events-which-make-unit-test-fail

[2018-12-22 18:00] remon-nashid commented on #260
I can confirm @ajhodges's findings. Latest solidity-coverage still doesn't handle revert reason as shown here https://github.com/OpenZeppelin/openzeppelin-solidity/pull/1540

[2018-12-23 11:20] celeduc commented on #91
This is now possible in truffle v0.5.x.

in truffle config:
`module.exports = {
  compilers: {
    solc: {
      version: <string> // A version or constraint - Ex. "^0.5.0"
    }
  }
}
`
https://truffleframework.com/docs/truffle/reference/configuration#solc

[2018-12-23 16:14] celeduc commented on #309
Truffle 5.0.0 now allows you to specify the version of solc you want to use to compile your contracts. This works with the default test runner, but not with solidity-coverage (which doesn't use the same test runner in truffle-compile).

It does not work with 5.0.0-beta.2 for contracts which require solc 0.4.x.

See https://travis-ci.org/alfabc/braided/builds/471619698#L774

[2019-01-02 17:12] karolinkas commented on #310
Has this been resolved for you then @StefH ?

[2019-01-02 19:52] StefH commented on #310
@karolinkas Yes.
You may close this issue for me.

[2019-01-03 10:13] alex-murashkin commented on #309
Thanks everyone. Sharing the following workaround that has worked for me for `"truffle": "5.0.0-beta.2"` and `"solidity-coverage": "0.5.4",`.
.solcover.js:
[code]
truffle-coverage.js:
[code]

Run: `./node_modules/.bin/solidity-coverage`

IIRC, the "cp" step was necessary because by default, the `solc` section isn't included in the generated truffle config file. I may have missed some details as it

[2019-01-04 09:21] obernardovieira commented on #309
Hi,
it wasn't supported. I was using solidity 0.5.x and truffle v5 and was not working. I did try to fix it and looks like it's working, at least with the project I was trying it started to work. You can see here the changes https://github.com/sc-forks/solidity-coverage/pull/311. Write some comment if you want :+1:

[2019-01-04 14:05] maxsam4 commented on #309
As a temporary fix, copy https://raw.githubusercontent.com/maxsam4/solidity-parser/solidity-0.5/build/parser.js to `node_modules/solidity-parser-sc/build/parser.js`

As I am doing in the truffle-5 branch for polymath-core, you may configure your CI to replace this file automatically using
[code]

Waiting for @cgewecke to be active once again and merge https://github.com/sc-forks/solidity-parser/pu

[2019-01-05 22:09] obernardovieira commented on #309
But is your PR supporting truffle v5, solidity 0.5.x and web3.js-1.0.0-beta.x ?

[2019-01-07 03:12] WyseNynja opened #312 "Files not being skipped"
I have an "external" directory full of contracts from other projects. I think that I do want these copied into coverageEnv, but I do not want/need coverage for them.

My .solcover.js:
[code]

I've also tried with `skipFiles: ['external'],`

The docs say "Array of contracts or folders (with paths expressed relative to the contracts directory) that should be skipped when doing instrumentation."  ../

[2019-01-10 04:33] yosriady opened #313 "Support for compiler version 0.5.2?"
It appears that `solidity-coverage` is compiling with a different compiler version that Truffle is using. I'm getting the following error, where it's using `0.5.0` instead:

[code]

My `truffle.js` specifies `0.5.2`:

[code]

I'm using:

[code]

What am I missing here? Why is `solidity-coverage` using `0.5.0` instead of `0.5.2`?

[2019-01-10 05:10] yosriady commented on #313
Fixed by adding a `coverage` section in `truffle.js`:

[code]

[2019-01-10 05:10] #313 closed

[2019-01-11 23:01] rotcivegaf commented on #309
You can try this but its not official, I use the code of @maxsam4 and @angus-hamill, add my fork in your package.json
`"solidity-coverage": "rotcivegaf/solidity-coverage"`
Execute with `./node_modules/.bin/solidity-coverage`
or
`npm install -g "rotcivegaf/solidity-coverage"` and `solidity-coverage` in a terminal

Works with calldata and address payable
[RCN-circle-ci](https://circleci.com/gh/ripio

[2019-01-14 15:15] KohliSuraj commented on #305
same issue here as well, any solutions?

[2019-01-14 21:17] WyseNynja opened #314 "Test of externally compiled contract fails when generating coverage"
My contract is written in solidity 0.5. It depends on a contract written by someone else in solidity 0.4. I've managed to get migrations and tests working for the external contract by using an external compile step (https://github.com/trufflesuite/truffle/issues/1607#issuecomment-452159899).

Most of my tests still work, but one that was calling getBalance against gastoken now errors:
[code]
[code

[2019-01-15 01:30] WyseNynja commented on #314
After more investigation, I think this failure is actually being caused by a combination of eth-gas-reporter and solidity-coverage. Once I disabled eth-gas-reporter, this test passed under solidity-coverage

[2019-01-15 01:34] WyseNynja commented on #314
Actually. I can't get the test to fail at all now. It must have been something else.

[2019-01-15 01:49] WyseNynja commented on #314
I think I'm tired. I c

[2019-01-15 01:52] WyseNynja commented on #314
For a few minutes I thought eth-gas-reporter was related to the error, but I removed it and still got this same failure. I'm thinking the error is coming from the compiler of gastoken not matching the rest of the project.

[2019-01-15 17:08] PaulRBerg commented on #287
Any updates on this? Happy to provide debug data.

[2019-01-16 10:10] obernardovieira commented on #309
Awesome, but what I see here is a bunch of forks.
Can we ask someone to start doing something?

[2019-01-17 21:21] barlock commented on #309
I believe this pr is https://github.com/sc-forks/solidity-coverage/pull/311.

Hasn't been touched in 2 weeks though.

[2019-01-18 10:52] obernardovieira commented on #309
This PR actually fixes the problem, I've been using it for a while. The only thing failing is the tests because they are using old stuff, for example, very old examples of code from open zeppelin.

I have a lot more work to do so instead of just being here spending time for maybe nothing I decided to get in touch with truffle team. They know that this is not being maintained and they want to add c

[2019-01-23 22:55] Juan-cc commented on #180
Although creating allFiredEvents fixed the issue, it doesn't generate the report, so here is what I used to make it to work:

**truffle.js**
https://github.com/dev-bootcamp-2019/final-project-Juan-cc/blob/master/kmp/truffle.js

**package.json**
https://github.com/dev-bootcamp-2019/final-project-Juan-cc/blob/master/kmp/package.json

**coverage.sh**
https://github.com/dev-bootcamp-2019/final-project

[2019-01-27 20:22] mortimr opened #315 "No informations about uncovered branches"
Hi,

My coverage reports is giving me a % on branch check, but gave me no informations about uncovered lines.
[code]

Is this normal ?

[2019-01-27 22:06] f0xx0f commented on #299
Hello! I have a similar problem. I'm trying to make a test coverage for metacoin.
This is my [package.json](https://github.com/f0xx0f/testcoverage_metacoin/blob/master/package.json) and [truffle-config.js](https://github.com/f0xx0f/testcoverage_metacoin/blob/master/truffle-config.js). I run the commands `./node_modules/.bin/ganache-cli --port 8555 --gasLimit 0xfffffffffff` and `./node_modules/.bin

[2019-01-28 12:43] f0xx0f commented on #299
my problem solved. needed to use test-rpс instead ganache-cli
[code]

[2019-01-28 15:59] Amxx opened #316 "Instrumenting solidity 0.5.x contracts with calldata keyword."
When running solidity coverage, I am getting an error:

[code]

Line 50 is of `XXX.sol` is:

[code]

If I remove the calldata keyword my code will not compile using the classical workflow, and I'd like to avoid having a specific version of my code for running solidity-coverage

[2019-01-30 15:46] Amxx commented on #316
I installed solidity-parser-antlr, but my guess is I need to rebuild solidity-coverage and the documentation doesn't explain how to do this

[2019-01-30 22:58] #315 closed

[2019-02-03 17:46] sirhill commented on #316
I have the same exact error with the 'payable' keyword. Should I open a separate issue  ?

[2019-02-07 18:23] MariusVanDerWijden commented on #316
No, I found a workaround here: https://github.com/sc-forks/solidity-parser/pull/18,
you have to replace the parser.js file in node-modules/solidity-parser-sc/build/ with this https://raw.githubusercontent.com/maxsam4/solidity-parser/solidity-0.5/build/parser.js.

I think it is time to fork these projects away from sc-forks

[2019-02-15 12:08] angus-hamill commented on #314
@WyseNynja what's happening here is that truffle is calling web3's `send()` method rather than `call()` and hence returning a transaction receipt rather than the actual value returned by the method.

The reason this is happening is because solidity-coverage is adding a coverage event to the method as a part of it's instrumenting step (hence making the method non-view). Truffle calls the different

[2019-02-16 13:26] pinkiebell commented on #316
TL;DR: https://github.com/leapdao/solidity-coverage.git#master

FYI, we have the solidity-coverage and -parser now under our leapDAO umbrella.
This includes support for `calldata`, `payable` and inline function declarations as of now.

[2019-02-21 11:30] PaulRBerg opened #317 "Error with spaces between params of function in assembly block"
When covering a function that is written in inline assembly, which has spaces between its parameters, the following error is thrown:

Example code:

[code]

If I remove the sapces, like below, everything's fine:

[code]

[2019-02-26 20:12] WyseNynja commented on #314
Option 3 sounds like it should cover all the cases I can think of. Thanks.

[2019-02-26 20:12] #314 closed

[2019-03-02 18:17] area commented on #317
I don't believe we've ever instrumented assembly (as you can't emit events, as far as I know), but I agree that it shouldn't balk when presented with valid assembly. From the small test case I constructed, I believe the `leapdao` branch should work. If not, please supply a valid contract that fails (of any size, doesn't have to be a minimum valid example). Note that branch only supports Solidity ^

[2019-03-02 18:26] area commented on #316
I am working on a release that supports solidity 0.5.1, based on the leapdao fork @pinkiebell has mentioned in #318 which should fix your issue - I would be interested in any other odd behaviour you stumbled across while trying it out.

[2019-03-02 18:30] area commented on #309
For those interested in this issue, I would be interested in any peculiar results or behaviour you found when trying to use the `leapdao` branch in this repository, which should work. Note that it assumes solidity ^0.5.3 - for anyone wishing to use Truffle 5 with solidity 0.4.x, you should try setting your compiler version manually in `truffle.js`, but I have not tested that functionality at all,

[2019-03-05 22:21] PaulRBerg commented on #317
Hey there, thanks for getting back and for your latest work on v5. Unfortunately, I was not able to reproduce this in the latest version of [AZTEC][aztec-monorepo], but I'll post here if I do. I'm certain that the error exists because I had to manually remove the space between the function parameters.

[aztec-monorepo]: https://github.com/AztecProtocol/AZTEC

[2019-03-06 10:36] area commented on #317
I actually can't find an example in that codebase of a function being declared in assembly. Either I'm looking for the wrong syntax, or my `grep` skills need polishing - can you point me to one?

[2019-03-06 17:36] #299 closed

[2019-03-06 17:37] area commented on #294
I am assuming this was fixed by #290. If not, please reopen.

[2019-03-06 17:37] #294 closed

[2019-03-06 22:17] PaulRBerg commented on #317
Sure, so if you checkout the `feat-coverage` branch you will find the contracts in `/packages/protocol`. We switched to the @0x/sol-coverage there, but there's also a recent commit where solidity-coverage is being used.

[2019-03-07 11:00] area commented on #317
Ah, you were using the leapdao fork, which uses the old (custom) parser, which is why I was not able to reproduce with the leapdao branch that I am working on in #318 (which is based on the leapdao fork, but with extra changes, including a stock parser. If is unfortunately confusingly named for this conversation...).

Unfortunately, the new parser balks at your contracts for a different reason. I'

[2019-04-01 12:37] lumir-mrkva opened #320 "ParserError: extraneous input '{' expecting ')'"
solidity-coverage `0.6.0-beta.5` from #318 is unable to instrument statements without enclosing blocks, like for example:

[code]
throws `ParserError: extraneous input '{' expecting ')'`

issue doesn't arise when enclosing block is added, but instrumenting should add block correctly automatically

[2019-04-01 13:05] lumir-mrkva commented on #320
btw. it is possible this same issue is present in an earlier version `0.5.11`, but no error message was thrown for me, instrumentation just never finished - hanged forever

[2019-04-11 09:53] area commented on #320
Hm, we have a test for this, but even modifying it to a contract like
[code]
doesn't cause the issue to show. Can you provide a complete contract that demonstrates the issue?

[2019-04-21 13:20] lumir-mrkva commented on #320
i tried again in clean environment and couldn't replicate it even with revision that didn't work before. i guess it  has to been unrelated problem that was fixed by just rebuilding contracts after i added blocks to code.

[2019-04-21 13:20] #320 closed

[2019-04-24 11:20] KaiRo-at opened #321 "Instrumenting cannot parse `_000` notation for integers"
With 0.6.0-beta.5, I get the following error:

`There was a problem instrumenting ./coverageEnv/contracts/xxx.sol: ParserError: missing ';' at '_000_000' (30:27)`

The Solidity line in question is

`        total = 50_000_000 * (uint256(10) ** decimals());`

This compiles and works fine with solc-js 0.5.7 and truffle 5.0.13, but solidity-coverage seems to not understand the `_000` syntax for integ

[2019-04-29 03:18] radek1st opened #322 "Add support for `payable address`"
When using a payable address in the smart contract function like:

`function submit(address payable destination) public {...}`

getting instrumentation error:

`There was a problem instrumenting ./coverageEnv/contracts/X.sol: SyntaxError: Expected ")", ",", comment, end of line, or whitespace but "d" found. Line: 78, Column: 37`

[2019-05-03 05:21] justinkchen commented on #307
Any updates on this? Im also getting this

[code]

[2019-05-14 11:10] angus-hamill opened #324 "Error instrumenting a large number of if statements without braces"
Instrumenting seem to fail when instrumenting a large number of if statements without braces.
[Here](https://github.com/angus-hamill/coverageTest) a project with a large (nonsensical) if/else without braces that fails instrumentation yet compiles and passes its tests.

Instrumentation gives the error `There was a problem instrumenting ./coverageEnv/contracts/MetaCoin.sol: ParserError: missing ';'

[2019-05-20 17:56] justinkchen opened #325 "Compilation hangs"
For some reason, the second time it compiles, after instrumentation, it is hanging and never completing. There is no error message or anything, it just never completes. We are using a library linked list and trying to initialize it in the constructor of one of the contracts but it fails to finish compiling in coverage but it works with normal compilation (the first time through).  Other methods in

[2019-05-23 17:39] renardbebe commented on #245
I got the same error and do not know how to fix it.
Could you please help me with the **absolute path** of `truffle.js` and `.solcover.js`?
Thanks a lot...

[2019-05-23 17:45] renardbebe opened #326 "How to generate './allFiredEvents' file ?"
**`Info.`**
[code]

Could anybody help me with this issue?
I have tried many ways but nothing worked.
Sorry for interrupting and thanks a lot....

[2019-05-23 17:46] renardbebe commented on #326
And I could not find the file `.solcover.js` ....

[2019-05-23 19:23] yxliang01 commented on #326
@renardbebe I think `.solcover.js` is optional that all configurable options will be using their default values.

[2019-05-24 03:25] renardbebe commented on #326
But it can't generate the './allFiredEvents' file during the process.

I have tried `touch ./allFiredEvents` command to generate it, but it got **zero coverage percentage** after running, so I think I must have done something wrong....

Could anybody tell me how to generate the ./allFiredEvents file correctly?

[2019-05-24 03:28] renardbebe commented on #307
@justinkchen Do you fix this issue? I got this too and don't know what to do.

[2019-05-24 05:52] renardbebe commented on #326
My `truffle.js`

`module.exports = {
    networks: {
        development: {
            host: "localhost",
            port: 8545,
            network_id: "*"
        },
      coverage: {
        host: "localhost",
        network_id: "*",
        port: 8555,         // <-- If you change this, also set the port option in .solcover.js.
        gas: 0xfffffffffff, // <-- Use this high gas value

[2019-05-24 06:51] renardbebe commented on #245
@etsangsplk @cgewecke
I just run
**$ $(npm bin)/testrpc-sc --gasLimit 0xfffffffffff --port 8555**
and
**$ $(npm bin)/solidity-coverage**
in two terminals and it occurs:
[code]
How should this error be fixed? Could you please do me a favor - Thanks a lot.

[2019-05-24 13:59] a2zpowerof4 commented on #307
@justinkchen I have the same issue

[2019-05-24 17:27] yxliang01 commented on #326
@renardbebe Maybe you try to remove all the generated directories then run it again. I once got this error due to compilation problems.

[2019-05-27 14:32] 0x3bfc commented on #307
I have solved the problem by running
[code]
before calling the solidity-coverage command. Not sure if this could work for you but it works in my case.

[2019-05-27 14:42] renardbebe commented on #307
I have tried this, but then it comes to zero coverage result. The contract I used is Metacoin.sol, so the contract itself has no problem and I don't know how to fix it.

Could you please give me all the command you have used to run solidity-coverage? Sorry to trouble you and thanks a lot.

----------

该邮件从移动设备发送

--------------原始邮件--------------
发件人："Ahmed Ali "<notifications@github.com>;
发送时间：201

[2019-05-28 11:22] 0x3bfc commented on #307
@renardbebe This [example](https://github.com/0x3bfc/play-with-solcoverage) contains the configurations and commands I ran. You are right it should work without my workaround.

[2019-05-30 08:41] #326 closed

[2019-05-30 08:58] renardbebe commented on #307
Oh it works!!!

Thanks a lot for your kindness!

------------------

任萌
Ren Meng
中山大学数据科学与计算机学院
School of Data and Computer Science, Sun Yat-sen University
软件工程专业
Software Engineering

------------------ Original ------------------
From:  "Ahmed Ali"<notifications@github.com>;
Date:  Tue, May 28, 2019 07:22 PM
To:  "sc-forks/solidity-coverage"<solidity-coverage@noreply.github.com>;
Cc:  "Meng Ren"

[2019-06-10 18:17] BrendanChou opened #327 "Upgrade ethereumjs-testrpc-sc to 6.4.1"
So that Petersburg-compiled contracts can properly be tested for coverage

[2019-06-25 10:10] barakman opened #328 "Check 0.6.0 on Bancor"
Input example:
[code]
Error printout:
[code]
I believe that the reason for this is that in a "normal" `if` statement the expression is encapsulated with `()`, while in an "assembly" `if` statement the expression is **not** encapsulated with `()`.

Unfortunately, adding `()` in the assembly statement yields a compilation error.

I've been able to track the problem down to the invocation of function

[2019-06-27 12:42] barakman opened #329 "No support for assembly `staticcall`"
This utility in its current implementation fails upon testing a function which invokes any of the functions being tested (i.e., in any of the contracts being tested) via `staticcall` from an `assembly` block.

Here is the reason for this failure:
- The tool adds an `event` before each line of code
- Subsequently every constant function is changed to non-constant
- The usage of `staticcall`, which

[2019-07-01 21:00] itinance opened #330 "Solidity-coverage recognizes not a single line of tested code?"
Hi everybody :)

I've done `solidity-coverage` on my project but it won't track any single line of code. Has anybody faced the same issue yet?

In my tests, I adopted the approach from OpenZeppelin-ETH to use mocks of my contracts, that inherits from the base contracts encapsulating the `initialize`-method into a constructor like here: https://github.com/itinance/ncd-token/blob/master/contracts/mo

[2019-07-02 17:54] cgewecke commented on #330
This looks like it was a config problem - have opened a PR in NCD which should resolve.

[2019-07-02 17:56] #310 closed

[2019-07-02 18:01] cgewecke commented on #328
@barakman Hi. Could you try installing `solidity-coverage@beta` and see if this issue persists? That version uses a new parser which should be more robust.

If you're still seeing it I will open an issue in the relevant repo.

[2019-07-02 18:02] cgewecke commented on #327
This is fixed on `solidity-coverage@beta`

[2019-07-02 18:49] barakman commented on #328
@cgewecke:

I have later realized that the `if` is probably not supported, not because of the reason I had initially mentioned, but simply because of an earlier parser (or compiler) version, from when `jumpi` was the conventional way to achieve an `if` functionality (I realized this after trying to use `jumpi`, for which I got a "deprecated" message from my solc v0.4.24 compiler).

In any case, I

[2019-07-02 19:21] cgewecke commented on #328
Ah! Nice hack, thanks for sharing that.

Over the next couple months we're going to look at a non-events based coverage strategy which should resolve this as well as other problems. But I don't think there will be a solution here before  the `0.7.0` release (in August?).

Will try to publish the beta as `0.6.0` this week. It's currently developed on the `leapDao` branch if you're maintaining your

[2019-07-02 19:53] barakman commented on #328
@cgewecke:

Great, thank you, I will give v0.6.0 a try once it's there.
It's actually good to know that `solidity-coverage` is being maintained and updated.
I was pretty sure otherwise, since it's been quite long since the current-latest version (v0.5.11) had been published.

I am currently relying on [this node script](https://github.com/bancorprotocol/contracts/blob/master/scripts/run-tests.js)

[2019-07-02 20:01] cgewecke commented on #328
@barakman I will open a PR in bancor making sure it works when published. At first glance, the only thing in the script that might need a change is to add a `--allowUnlimitedContractSize` to the testrpc-sc invocation. `0.6.0` will be tracking a newer version of ganache-cli.

[2019-07-02 20:28] barakman commented on #328
@cgewecke:
Great, thank you!
I'll be standing-by for this PR.

BTW, you may as well fix the huge memory-consumption issue that you have in the current version of `solidity-coverage`, which I have reported in the past (fails for extremely large test-suites, due to a preliminary "full-scale" memory allocation).

It might help you to see how I'm patching this problem in [this "npm post-install" scrip

[2019-07-02 21:30] itinance commented on #330
Thank you so much! I have tried it out, but are running in several "invalid opcode"-exceptions in beforeEach-functions, that aren't an issue running on ganache-cli.

They even happen in very simple tests like https://github.com/itinance/ncd-token/blob/master/test/NCDTokenBasicTests.js#L16.

What could be the root cause here?

<img width="1258" alt="Screenshot 2019-07-02 00 04 25" src="https://user

[2019-07-02 22:07] #330 closed

[2019-07-03 08:10] itinance commented on #330
Ah, this was my fault! I used a different version of `coverage` as intended by @cgewecke in his PR :)

Again, thank you so much! Really appreciated.

Explicitly upgrading to `solidity-coverage@0.6.0-beta.5` makes it work without the issues mentioned in my previous comment.

[2019-07-06 18:11] yxliang01 opened #331 "Backport testrpc-sc 6.4.5 to solidity-coverage v5"
This issue is a feature request for porting over https://github.com/trufflesuite/ganache-core/pull/13 . Many of my test cases reply on this to run properly, especially when setting a timestamp that is in the past. This functionality can't be achieved without modifying system time back to past for the current version of testrpc-sc.

Thanks

[2019-07-06 19:58] cgewecke commented on #331
@yxliang01 Can you try installing `solidity-coverage@beta`? It uses a newer ganache version. If you're launching testrpc-sc separately you'll likely need to add the `--allowUnlimitedContractSize` flag to the command.

[2019-07-07 05:08] yxliang01 commented on #331
@cgewecke Thanks for the hint. However, our source code is supposed to be tested under solc 0.4 .. So, the `beta` version is not suitable. When checking the https://github.com/sc-forks/testrpc-sc repo, I don't see the branch for testrpc-sc `6.4.1`, would you like to point out where the corresponding source code for `6.4.1` is (the testrpc-sc version `beta` release is using)?

[2019-07-07 05:54] cgewecke commented on #331
@yxliang01 Yes you should be able to get the 6.4.1 client separately by running
[code]

[2019-07-07 06:41] yxliang01 commented on #331
@cgewecke We are using source code version of installation due to some customization need. Would you like to point out where the `beta` release source code for `ethereumjs-testrpc-sc` is available?

[2019-07-07 07:47] cgewecke commented on #331
@yxliang01 It looks like the latest version is the coverage branch of `ganache-core-sc`, which is at v2.5.3. That consumes a coverage enabled vm - `ethereumjs-vm-sc` whose latest state is also on the coverage branch.

And it's consuming a specific commit of `provider-engine-sc` although I don't think that has any coverage logic in it so may not be necessary, but can't hurt either.

TLDR to publish

[2019-07-07 08:09] yxliang01 commented on #331
@cgewecke Thanks a lot for the detailed explanation. It helps. Meanwhile, I would like to confirm that so the source code for `ethereumjs-testrpc-sc@beta`(a.k.a fork of `trufflesuite/ganache-cli`) is not published yet, is it?

[2019-07-07 16:36] cgewecke commented on #331
@yxliang01 The source code *is* all the things in the previous comment published to npm as a webpacked bundle. There's nothing else.

[2019-07-08 15:02] gkamtzir commented on #245
Hey @renardbebe !
Kinda late but this error occurs when the **norpc** property in the **.solcover.js** is set to false (or you haven't explicitly set it to true, since it always defaults to false) and a **testrpc** instance is, already, running. The **norpc** property basically instructs the **solidity-coverage** to create its own **testrpc** instance when it's set to false or to use an existing w

[2019-07-10 00:31] BrendanChou commented on #327
Good to see you back @cgewecke, missed your contributions

[2019-07-10 09:10] fabianorodrigo commented on #327
How would it be possible to contribute to this project? Just clone the repository, make changes locally and create a pull request?

[2019-07-10 16:37] mariocao commented on #307
I tried that example and I still get the same problem :disappointed:
Any leads?
[code]

[2019-07-10 16:37] cgewecke commented on #327
@fabianorodrigo Yes. Because there is work underway at the moment could you open an issue with the changes you'd like to make so we can talk about them first?

[2019-07-10 16:58] cgewecke commented on #307
@mariacao When I clone that example and run:
[code]
I see:
![Screen Shot 2019-07-10 at 9 56 14 AM](https://user-images.githubusercontent.com/7332026/60988715-0b33a080-a2f9-11e9-9ea5-dee813ac5785.png)

Could you try those steps and see if they work?

System: OSX
Node Version: 10
Truffle v5.0.12

[2019-07-11 09:38] mariocao commented on #307
Perfect! It worked! Thanks a lot

[2019-07-11 10:46] fabianorodrigo commented on #327
@cgewecke , how is the development environment setup? I cloned the repository and just call 'node bin/exec.js' but I got the message "couldn't find a 'contracts' folder to instrument".
When I try do debug using VSCode I got '${file} can not be resolved. Please open an editor'.

Should I just create a folder 'contract' with some solidity files to see it running or is there a better way to do this?

[2019-07-11 17:53] cgewecke opened #338 "Info on setting up development environment and contributing"
In #327 @fabianorodrigo asked

When I try do debug using VSCode I got '${file} can not be resolved. Please open an editor'.

[2019-07-11 17:54] cgewecke commented on #327
@fabianorodrigo Apologies, I'm going to move your question to separate issue: #338.

[2019-07-11 17:58] cgewecke commented on #338
@fabianorodrigo Are you on windows? I'm not and it's a bit difficult to debug that OS for me....

In general we develop via the tests - if you look in [test/app.js](https://github.com/sc-forks/solidity-coverage/blob/master/test/app.js) you'll see tests that use fixtures for loading a mock project and executing coverage.

(It's a bit of a mess tbh)

[2019-07-11 21:33] cgewecke commented on #331
@yxliang01 Do you still want v0.5.x to be published with an updated testrpc or are you going to do this in your own fork?

[2019-07-11 21:50] yxliang01 commented on #331
@cgewecke Is there any breaking change with this updated testrpc? If not, I don't see why it shouldn't be published with v0.5.x of `solidity-coverage` . If you are willing, backporting would be great! But, in any case, since you have already published the source code of the new testrpc-sc, backporting would be fairly easy for me in my own fork. Thanks.

[2019-07-11 22:09] cgewecke commented on #331
@yxliang01 Yes, I think they're quite different. There was a chain fork between 6.1 and 6.4 for example.

There's also a change in the direct invocation command from:
[code]

I'm going to think about it a bit....

[2019-07-11 22:12] fabianorodrigo commented on #338
I'm using Linux Ubuntu

[2019-07-12 07:08] cgewecke commented on #327
Fixed in 0.6.0. Thanks @BrendanChou!

[2019-07-12 07:08] #327 closed

[2019-07-12 07:10] cgewecke commented on #325
@justinkchen If you have a chance could you try with `0.6.0`? Or point me in the direction of the repo?

[2019-07-12 07:11] cgewecke commented on #324
@angus-hamill Added your repro as a regression test in #335 and believe this is fixed with `0.6.0`. Thanks for reporting :)

[2019-07-12 07:11] #324 closed

[2019-07-12 07:12] cgewecke commented on #322
Fixed in `0.6.0`. Thank for reporting.

[2019-07-12 07:12] #322 closed

[2019-07-12 07:13] cgewecke commented on #321
@KaiRo-at This was an issue at solidity-parser-antlr which has been resolved on master there. Just waiting for a publish. I'm closing this in favor of ticket about deps we need to update. Thanks for catching this!

[2019-07-12 07:13] #321 closed

[2019-07-12 07:14] cgewecke commented on #317
Fixed in the @beta and `0.6.0`.

[2019-07-12 07:14] #317 closed

[2019-07-12 07:15] cgewecke commented on #316
Fixed in `0.6.0`

[2019-07-12 07:15] #316 closed

[2019-07-12 07:15] cgewecke commented on #309
`0.6.0`

[2019-07-12 07:15] #309 closed

[2019-07-12 07:20] cgewecke commented on #307
This seems to be about not realizing that it's required that you run the coverage-enabled client `testrpc-sc` which ships with solidity-coverage. If you're launching it separately, you also have to set `norpc: true`.  See [comment above](https://github.com/sc-forks/solidity-coverage/issues/307#issuecomment-496475249) for a link to a simple working example.

[2019-07-12 07:20] #307 closed

[2019-07-12 07:21] cgewecke commented on #303
Web3 is now beta-50 here. If you're using truffle, you're consuming their web3, not solidity-coverage's

[2019-07-12 07:21] #303 closed

[2019-07-12 07:22] cgewecke commented on #304
`0.6.0` is working fine with the latest Truffle. We're running E2E tests in CI vs openzeppelin-solidity and truffle's metacoin. Closing.

[2019-07-12 07:22] #304 closed

[2019-07-12 07:23] cgewecke commented on #305
This is fixed in `0.6.0`

[2019-07-12 07:23] #305 closed

[2019-07-12 07:24] cgewecke commented on #298
This is fixed. Thanks!

[2019-07-12 07:24] #298 closed

[2019-07-12 07:26] cgewecke commented on #312
@WyseNynja Thanks, I think this is a duplicate of #283. Going to address this there. `0.6.0` instruments a couple orders of magnitude faster. You may see these warnings but they should just be annoying as noise rather than time wasted.

[2019-07-12 07:26] #312 closed

[2019-07-12 07:28] cgewecke commented on #258
Yes. It did. Fixed in `0.6.0`

[2019-07-12 07:28] #258 closed

[2019-07-12 07:28] cgewecke commented on #287
This is finally fixed in `0.6.0`

[2019-07-12 07:28] #287 closed

[2019-07-12 07:29] cgewecke commented on #244
Instrumentation is much faster now. Much much much faster. Closing, but please ping if you disagree.

[2019-07-12 07:29] #244 closed

[2019-07-12 07:38] cgewecke commented on #247
It looks like this is fixed in `0.6.0`. An option was added to ethereumjs-vm that lets us emit logs for free. An example of coverage navigating this case correctly is at zeppelin-solidity [here](https://github.com/OpenZeppelin/openzeppelin-solidity/blob/489d2e85f10c68ff977bdd983360b361c4422423/test/introspection/SupportsInterface.behavior.js#L48-L54)

[2019-07-12 07:38] #247 closed

[2019-07-12 07:50] cgewecke commented on #301
@maxsam4 Thanks so much for your PR and for your excellent description of the issue here.
In `0.6.0` the preprocessing algo has been improved - the older oraclize contract which used to take 30 minutes to instrument now takes ~1 sec.

Additionally, am going to try some changes this monty that should remove the necessity of preprocessing for view and pure altogether - I think that's the best way fo

[2019-07-12 07:54] cgewecke commented on #295
This needs a reproduction case or a link to the repo where it's happening. Sorry for letting this languish for so long, but I'm going to close because it doesn't seem like other people are running into this...

[2019-07-12 07:54] #295 closed

[2019-07-12 07:56] cgewecke commented on #230
I think this is resolved. . . AFAIK npm audit is clean. We have some sec vuln warnings from Github and will address those in a separate ticket.

[2019-07-12 07:56] #230 closed

[2019-07-12 07:58] cgewecke commented on #191
Cool, closing.

[2019-07-12 07:58] #191 closed

[2019-07-12 08:16] cgewecke opened #342 "GH security alerts"
Current:

| Threat  | Threatener        |
|---------|-------------------|
| lodash  |      web3-beta.55 |
| mem     |       solc-0.5.10 |
| shelljs | solidity-coverage |

The first two are fixable upstream and affect everything/everyone.

`shelljs` is a special case. Its vuln flag is widely viewed as erroneous and the project's (google) maintainer is litigating it with whitesource and snyk. Unfort

[2019-07-12 16:58] cgewecke opened #343 "Unbracketed if-else statements do not compile"
This:
[code]
...instruments to this:
[code]

However, when the `if` *is* bracketed, instrumentation is correct. We already have a test for that [here](https://github.com/sc-forks/solidity-coverage/blob/master/test/sources/if/else-without-brackets.sol).

(Part of #328)

[2019-07-12 17:03] cgewecke commented on #328
@barakman Update - I'm testing `0.6.0` against Bancor today (and finding solidity-coverage bugs) but it looks like you will probably be able to update without too much difficulty when problems here are fixed. Hopefully open there by Monday.

[2019-07-12 20:05] cgewecke commented on #252
This is a [bug](https://github.com/trufflesuite/ganache-core/issues/111) in ganache-core with a [pending fix](https://github.com/trufflesuite/ganache-core/pull/443). There shouldn't be any variation in blocktimes between coverage and regular tests - ganache is supposed to set the timestamp once per block.

[2019-07-12 20:12] barakman commented on #328
@cgewecke:

Thank you very much for that!

The assembly issues that I have mentioned in this thread and in [the other thread](https://github.com/sc-forks/solidity-coverage/issues/329) are currently applicable (i.e., reproducible) only on our [latest branch](https://github.com/bancorprotocol/contracts/tree/0.4.8), which we haven't merged to the master branch as of yet.

The link that I have provide

[2019-07-12 20:29] barakman commented on #252
@cgewecke:

In any case, I have observed different behavior between "truffle + ganache-cli" and "solidity-coverage + testrpc-sc", executed with the exact same test-suite.

After some investigation, I concluded that it was tightly-coupled with time-dependent onchain code (i.e., usage of `now`).

If this is indeed a bug in ganache core as you say, will the pending fix apply for testrpc-sc as well?

[2019-07-12 20:54] cgewecke commented on #328
@barakman Actually - I found a bug in `0.6.0` while running the bancor tests and just merged a fix for it. Everything on Bancor master run ok with the aforementioned change and a small change to the launch invocation line in `run-tests.js`:
[code]

Haven't tested any other branches - will publish `0.6.1` in ~1 hour, have to run to something rn.

[2019-07-12 22:15] cgewecke commented on #331
@yxliang01 Just tested `0.6.1` against Bancor's contracts which are pinned to solidity`0.4.24` and everything was fine. I *think* you can just upgrade your entire fork to 0.6.0 and everything should work...

[2019-07-12 22:16] cgewecke commented on #343
`0.6.1`

[2019-07-12 22:16] #343 closed

[2019-07-12 22:23] cgewecke commented on #297
It assumes that node_modules are in the root folder. That seems correct to me. For example, solidity-coverage works fine in Lerna projects where node_modules packages have been 'hoisted' to an outer directory. Lerna automatically symlinks these to a proxy node_modules folder in the subprojects because it knows that a lot of JS tooling follows this norm.

I'm going to close this, if people need unc

[2019-07-12 22:23] #297 closed

[2019-07-12 22:25] cgewecke commented on #285
Closing, this has been open for a while and describes a known limitation of solidity-coverage that we don't have an immediate fix for.

[2019-07-12 22:25] #285 closed

[2019-07-12 22:26] #248 closed

[2019-07-12 22:28] cgewecke commented on #240
I think this is fixed. We're invoking testrpc-sc using `npx` and the permissions are inherited from ganache-cli. This might have been a weird bug I introduced at some point by messing around on our fork... If anyone else experiences this, please ping.
`0.6.0`

[2019-07-12 22:28] #240 closed

[2019-07-12 22:30] cgewecke commented on #264
Duplicate of #297 (also closed)

[2019-07-12 22:30] #264 closed

[2019-07-12 22:46] cgewecke commented on #252
Yes, when they publish we'll update here too.

[2019-07-12 22:58] cgewecke commented on #201
We're using solidity-parser-antlr.

[2019-07-12 22:58] #201 closed

[2019-07-13 04:07] cgewecke commented on #329
Cross referencing with [openzeppelin-solidity 1761](https://github.com/OpenZeppelin/openzeppelin-solidity/issues/1761#issuecomment-511083138).

[2019-07-13 06:11] yxliang01 commented on #331
@cgewecke Great! I will schedule it and let you know how it goes :)

[2019-07-13 09:13] sohkai commented on #283
It turns out that our particular set of issues with coverage being recursively instrumented was fixed in https://github.com/aragon/aragon-apps/pull/863 by blacklisting specific dependencies in the skip list (e.g. see [example change](https://github.com/aragon/aragon-apps/pull/863/files#diff-9b7cef7079f7ec722feb828d63f9d691)).

This was probably due to some confusion on our side about how `copyPack

[2019-07-13 18:56] cgewecke commented on #329
Oh actually it looks like it was [fixed in the new vm](https://github.com/ethereumjs/ethereumjs-vm/pull/378#issuecomment-435149043)

[2019-07-14 00:19] #106 closed

[2019-07-14 01:12] cgewecke commented on #283
@sohkai Sweet ( it's definitely super confusing / kind of a nightmare. )

Was looking over the coverage runs in aragon-apps...
+ **Agent**: Believe these have been failing because of assembly `staticcall` in the sig validation logic. This *may* be [fixed](https://github.com/ethereumjs/ethereumjs-vm/pull/378) in the new client (6.4.5).
+ Also see testrpc-sc explicitly listed as a dep in some of you

[2019-07-14 01:16] cgewecke commented on #292
We can't support parallel execution of coverage and regular tests this way, sorry. It a super cool idea though.

[2019-07-14 01:16] #292 closed

[2019-07-14 07:59] cgewecke opened #346 "v0.7.0 Plan (Experimental)"
Rewrite this tool as a hybrid of solidity-coverage and 0xProject's opcode tracing sol-cov.

**Mechanics**
+ instead of a file of event hashes written by testrpc-sc, maintain an in memory map of them.
+ example instrumentation where `bytes32(0xabc..etc)` is a hash we can pick off the top of the VM step's stack and associate with an entry in the injection map.
[code]

+ listen to the vm step of a ga

[2019-07-14 08:21] cgewecke commented on #150
Closing in favor of #345.

[2019-07-14 08:21] #150 closed

[2019-07-14 09:27] yxliang01 opened #347 "suggestion: release tags on commits"
I think it would be better to tag the commits with release version number. E.g. https://github.com/sc-forks/solidity-coverage/commit/21db7095f2de701ac2c0be624e7e6774dcb78a23 can be tagged as v6.0.2 on git.

Thanks @cgewecke for your effort!

[2019-07-14 11:15] sohkai commented on #283
Thanks for taking a look into them @cgewecke!

I believe these Agent tests are still failing with solidity-coverage 0.6.1, using the new client, but I will try updating them to sc.3.

This is more of a lerna thing than anything else; we need to list it separately because otherwise lerna won't copy over the included binary into the individual package, and running `npx testrpc-sc` doesn't work :(.

[2019-07-14 18:31] cgewecke commented on #347
Yes, agree. It should already be tagged actually. (it is in my local). I use [npm version](https://docs.npmjs.com/cli/version) to increment the package, and that's included.

Haven't been tagging testrpc-sc but I will start.

[2019-07-14 19:02] yxliang01 commented on #347
Not sure whether we are on the same page. By seeing the `version` field in `package.json`, indeed, can know the commit of the new release. However, it would be better to directly tagging using the `git` tagging functionality. i.e. tagging using `git tag`. If this is what you meant, I'll just close this issue :)

[2019-07-14 19:18] cgewecke commented on #347
[code]
0.6.1 is missing for some reason. The npm command (according to the docs) makes a git tagged commit. Idk.

[2019-07-14 19:20] cgewecke commented on #347
I'll make sure and check this in future though. Thanks for highlighting.

[2019-07-14 19:20] #347 closed

[2019-07-14 21:24] cgewecke commented on #328
I got 0.6.2 to run Bancor locally without the static call hacks. Everything looks ok to me. Opened a PR over there but it doesn't seem setup for outside contributors really. Feel free to close that - I'm closing this, please ping if you run into problems.

[2019-07-14 21:24] #328 closed

[2019-07-14 21:25] cgewecke commented on #329
Fixed in `0.6.2`, see BancorProtocol PR ref above this comment

[2019-07-14 21:25] #329 closed

[2019-07-14 21:26] cgewecke commented on #194
This is stale I think...

[2019-07-14 21:26] #194 closed

[2019-07-14 21:27] cgewecke commented on #331
Also tested against AragonOS and it's fine. Closing.

[2019-07-14 21:27] #331 closed

[2019-07-15 01:42] barakman commented on #328
You probably mean:

Since the file `testrpc-sc` under the `.bin` folder is not even a js file.

Thank you in any case, I'm testing it...

[2019-07-15 03:46] barakman commented on #328
Works like a charm!
I've updated our repo to solidity-coverage v0.6.2.
Thanks :)

[2019-07-15 05:31] yxliang01 commented on #347
Thanks!

[2019-07-15 10:04] barakman commented on #329
@cgewecke:
Thank you.

May I ask how it works?

I've checked the instrumented contracts, and nothing in the related aspect seems to have changed.

Here is the instrumented caller-function:
[code]
And here is the instrumented callee-function:
[code]
As you can see, the callee-function is (no longer) constant, so I don't quite understand how `staticcall`ing it from the caller-function completes succ

[2019-07-15 12:06] Amxx opened #348 "Parser errors on `type` keyword with missing ';' at '('"
`./node_modules/.bin/truffle` works great (compile, migrate & test), but when I try `./node_modules/.bin/solidity-coverage` I get the following error:

[code]

I'm using solidity-coverage 0.6.2 and my solidity version is 0.5.10

[2019-07-15 13:13] area commented on #348
This is almost certainly an issue with the preprocessor - are you able to share the contracts you're seeing this on? If not, any unusual syntax you're using is probably the cause - are you using anything that isn't tested for in the [tests](https://github.com/sc-forks/solidity-coverage/tree/master/test)? Emoji or similar characters in your comments also causes this.

[2019-07-15 17:12] cgewecke commented on #348
Also @amxx if you link to the project we can run it, find the problem and add a regression test for it here.

The compilation message is coming from Truffle and I *think* the absence of a filename there is a recently introduced bug (>= v.5.0.13). You might have luck downgrading Truffle temporarily to 5.0.12 to see if you get a more precise error.

[2019-07-15 17:18] cgewecke commented on #283
@sohkai Yes 6.4.5-sc.3 might actually make a difference, I saw some staticcall stuff clear up on the bancorprotocol contracts with that change yesterday.

Oooh. I didn't know that, thanks.

[2019-07-15 18:29] cgewecke commented on #329
@barakman Yes, it looks like this was fixed at ethereumjs-vm, specifically for the coverage client in [this PR](https://github.com/ethereumjs/ethereumjs-vm/pull/378#issuecomment-435149043).

That PR had small bug which we fixed [here](https://github.com/sc-forks/ethereumjs-vm-sc/commit/b77327985b480ace0f11bc899475cadf981ddb65) in our own vm.

[2019-07-15 20:58] cgewecke commented on #300
In work planned for `0.7.0` we will use an in-process memory to track file locations. Instrumentation will consist of a hash to those values.

[2019-07-15 21:38] cgewecke commented on #286
Leaving some implementation notes for a possible approach...

Things to resolve:
+ 'representation', e.g I don't *think* istanbul or coveralls will do well with multiple modifiers on a function definition line.
+ instrumentation / modifier shadowing

**Representation**
We could just have a second table that shows this info and get CI to pass/fail modifier coverage changes using the [codechecks](ht

[2019-07-16 01:24] cgewecke commented on #283
@sohkai One last thing (tangentially) that might interest you...

Maker engineer Kris Kaczor has built a cool CI service  called [codechecks](https://github.com/codechecks/monorepo) which eth-gas-reporter now has an integration with. It's kind of like coveralls for gas - it shows a pull request's gas consumption changes relative to its target branch in the Github UI and comes with a diff report. (

[2019-07-16 09:03] lin88xu opened #349 "Error encountered when generating coverage report on kyberNetwork"
Hi,

I am trying to generate a coverage report using solidity-coverage on the kyber network swap smart contracts. The github link is:
https://github.com/KyberNetwork/smart-contracts.git

The following npm modules are used during the report generation:
1. Truffle@4.1.14
2. Solidity-coverage@0.6.2

In addition, all contract pragma are changed from minimal solc requirement of 0.4.18 to 0.4.24

Attach

[2019-07-16 09:14] cgewecke commented on #349
@lin88xu I see two problems:
+ There are compilation errors in the middle of your compilation output from not updating the pragmas correctly. Example:
[code]
And there's this, where a comma is being mangled into `N8ttt`. I don't know how that's happening, any ideas on your end?
[code]

[2019-07-16 09:15] sohkai commented on #283
Can confirm wit sc.3 that these `staticcall` tests are working for us now as well 👍.

Will check out the gas check in CI! That looks super cool :).

[2019-07-16 09:43] Amxx commented on #348
@area The code is not public but I could send you an archive by email

[2019-07-16 10:38] lin88xu commented on #349
@cgewecke Thanks for your reply. Regarding the weird characters problem, sorry I don't have any idea. The compilation error problem has just been resolved at my end(by replacing the `solc` bundled with `truffle`), and this weird character problem is the only error I'm facing at the moment.

[2019-07-16 23:56] cgewecke commented on #349
@lin88xu We're not seeing that in CI on Trusty or locally on OSX. You'll to link to a public repo I can clone and run the command on to get further, but I suspect this is something unusual about your OS.

[2019-07-17 01:47] lin88xu commented on #349
@cgewecke  the public link is https://github.com/KyberNetwork/smart-contracts.git

[2019-07-17 02:58] cgewecke commented on #349
@lin88xu That repo's master branch contains none of the changes you've described above. I've just cloned it and it's dependencies are more than a year out of date. It doesn't compile with the last version of Truffle 4. (4.1.15). It's missing basic instructions about how run a test suite - there's no `npm test` script.

[2019-07-17 17:42] lin88xu commented on #349
@cgewecke The branch that I am currently working on is:
https://github.com/lin88xu/smart-contracts.git

From my observation, any versions of truffle other than v4.0.5 will result in truffle test errors. This include the devdependecy in the package.json which states that the required version of truffle is v4.0.1. Both versions of Truffle 4 (4.1.14 and 4.1.15) failed truffle test

[2019-07-17 18:25] cgewecke commented on #349
@lin88xu Getting `truffle test` to pass is a prerequisite for debugging this and you'll need to use a higher solc than ships with 4.0.5 because we add statements to the solidity files that use the `emit` keyword. (I think support began around solc v0.4.22.). I see lots of contracts in your fork pinned to `0.4.18`.

[2019-07-17 21:17] BrendanChou commented on #106
@cgewecke is this supposed to be fixed now? I'm confused about why I'm still seeing errors for it

[2019-07-17 21:33] cgewecke commented on #106
@BrendanChou Yes it looks like it's fixed on `0.6.2` (testrpc-sc v6.4.5-sc.3). If you're still seeing it with `0.6.2` could you link to a repro when you have a chance?

We have a passing unit test for that case [here](https://github.com/sc-forks/solidity-coverage/blob/master/test/app.js#L344-L361). Its relevant solidity source and js test are here:
+ [Wallet.sol](https://github.com/sc-forks/solidi

[2019-07-17 23:06] BrendanChou commented on #106
Awesome, 0.6.2 fixed it, thank you!

[2019-07-18 03:52] seita-uc commented on #348
I encountered the same error with Truffle@5.0.26 but after upgrading Truffle to ^5.0.27 the content of the error log changed as following:

[code]

With Truffle@5.0.12, I got the following error:

[code]

[2019-07-18 03:54] cgewecke commented on #348
@seita-uc Could you paste `MyContract.sol` here? Or link to a public repo where it resides?

[2019-07-18 04:06] lin88xu commented on #349
@cgewecke Thanks for the advice. Maybe I shall try running the truffle test to see if it works out. Any progress on your side making truffle test work with versions higher than 4.0.5?

[2019-07-18 04:18] seita-uc commented on #348
@cgewecke

The `MyContract.sol` was below:

[code]

and `Account.sol` is below:
[code]

Also, this is my `.solcover.js`
[code]
I was skipping `MyContract.sol` because instrumenting `MyContract.sol` caused following error:
[code]

[2019-07-18 04:26] cgewecke commented on #349
@lin88xu No. I'm also not trying to make them work - we don't have the resources here to upgrade an apparently abandoned code base across 10 solc versions.

Do you mind if I close this issue? It seems solidity-coverage is not usable on Kyber in their current state. You can open a new issue if you run into difficulties after successfully compiling and testing with `solc v0.4.24`.

[2019-07-18 05:22] cgewecke commented on #348
@seita-uc I think #350 will fix this - we needed to update our parser version to handle the `type` keyword syntax.

@amxx Can you confirm that your error is probably related to using the `type` keyword?

[2019-07-18 06:25] Amxx commented on #348
I do have this appearing a few times in my code:
`App app = App(_create2(type(App).creationCode, salt));`

so it might be the case

[2019-07-18 06:58] cgewecke commented on #348
@Amxx @seita-uc #350 is published in `0.6.3`. Just lmk if that doesn't fix this....

[2019-07-18 08:18] Amxx opened #351 "Could not find truffle artifacts from imported packaged."
My code uses external pieces of solidity such as from npm packages. For exemple, I use the ERC1538Proxy artifact from iexec-solidity. In my truffle migration script I import it with `artifacts.require("iexec-solidity/ERC1538Proxy")`.

my .solcover.js contains:
[code]

It works well when doing `truffle migrate && truffle test` but I get an error with solidity coverage:

`Error: Error: Could not fin

[2019-07-18 08:52] Amxx commented on #351
Yes they are in the node_modules folder

[2019-07-18 08:54] cgewecke commented on #351
@Amxx Weird - I'm not sure why migrating would make it able to find the folder, but good :)

[2019-07-18 09:05] Amxx opened #352 "Block limit not matching the gas limit (capping the 53 bits)"
I'm having issues deploying one of my modules (contract).

I get an "out of gas" error:
[code]

ganache is running with parameters `-l 0x1FFFFFFFFFFFFF -g 0x1` and truffle.js uses the same parameters. I cannot go bigger than `0x1FFFFFFFFFFFFF` as it is the 53 bits limit to safely store numbers.

What am I missing here ? I get my contract is big but the optimized, non-instrumented version fits into

[2019-07-18 09:08] cgewecke commented on #352
@Amxx Are you using the default coverage network config values from the README? If so could you try running testrpc-sc without that line added: e.g `-l 0x1FFFFFFFFFFFFF -g 0x1`?

[2019-07-18 09:33] Amxx opened #353 "View keyworld dissapears"
I'm trying to use solidity-coverage on [kitsune-contracts](https://github.com/Amxx/KitsuneWallet-ERC1836/tree/master/kitsune-contracts)

One of the contracts overloads the classic `owner()` method. waffle (that I usually use) and truffle both compile this code without issues. However, solidity-coverage gives me the following error:
[code]
Line 17 of IERC725.sol is
[code]

How come the view modifie

[2019-07-18 09:38] Amxx commented on #352
my truffle.json contains:
[code]

I tried using `0xFFFFFFFFFFFFF` instead of `0x1FFFFFFFFFFFFF` ... results are similar. I am using my own ganache, with `'no-rpc': true` in .solcover.js

I tried running the included testrpc instance with
[code]

but then I fail even sooner
[code]

[2019-07-18 09:40] seita-uc commented on #292
Running the testrpc outside of the solidity-coverage while setting `norpc: true` in `.solcover.js` worked for me.

My `.solcover,js`:
[code]

Command to run testrpc:
[code]

[2019-07-18 09:42] cgewecke commented on #353
@Amxx It's intentionally removed because Solidity will not compile when events are in a view or pure function. This is why the contracts get double compiled - first we compile to get the 'correct' ABI, which marks methods as view or pure and which Truffle uses to decide whether to execute a method as a send or a call. Then we remove the visibility modifiers and instrument to get the correct byteco

[2019-07-18 09:45] seita-uc commented on #348
@cgewecke it worked! Thank you!

[2019-07-18 09:47] cgewecke commented on #352
@Amxx How about with this?
+ Do not launch your own ganache
+ Remove `-l 0x1FFFFFFFFFFFFF -g 0x1` from testrpc options
+ Set coverage.network gas to: `0xfffffffffff`

[2019-07-18 09:52] Amxx commented on #352
This is really counterintuitive, but it works !

[2019-07-18 10:08] Amxx commented on #353
Ok that makes sense ...

[2019-07-18 16:54] #353 closed

[2019-07-18 16:55] #348 closed

[2019-07-18 16:55] #351 closed

[2019-07-18 16:55] #352 closed

[2019-07-18 16:56] cgewecke commented on #349
Closing per above.

[2019-07-18 16:56] #349 closed

[2019-07-19 22:24] cgewecke commented on #251
Note to self - 0.7.0 will resolve this by using an integer counter for intrumentation hits rather than processing them as individually enumerated events.  Mem consumption should be well within bounds (for this step anyway).

It looks like this problem is also affecting colonyNetwork's test suites and forcing them to split their tests into two CI jobs. . .

[2019-07-22 14:51] munawarb opened #354 "Solidity-coverage Fails To Install"
I'm trying to install solidity-coverage but the installation fails.
Here is my error log:
[code]

The `crowdsale` directory is a truffle project.

[2019-07-22 14:57] cgewecke commented on #354
I think the problem is this:
[code]
scrypt isn't working w/ Node 12 and it's affecting a large number of ethereum projects at the moment - see [web3 2913](https://github.com/ethereum/web3.js/issues/2913).

If you're using `nvm` to manage your node installation could you try running `nvm use 10` and see if that works?

[2019-07-22 15:12] munawarb commented on #354
Hi @cgewecke. Thanks so much for the quick response. This solution fixed the problem. I rolled back to Node 10.16.0 with `n 10.16.0` and the test script installed successfully after that.

[2019-07-22 15:12] #354 closed

[2019-07-22 23:57] fabianorodrigo opened #355 "Compilation error"
In spite of the usage notes say "For pragma solidity >=0.4.22 <0.6.0" and I have in my truffle-config.js the compiler set to '0.4.24', solidity-coverage generate a 'truffle-config.js' in the 'coverageEnv' folder that doesn't have the original compiler version configuration. Consequently I've got a compilation fail: Error: Truffle is currently using solc 0.5.8, but one or more of your contracts spe

[2019-07-23 01:07] cgewecke commented on #355
@fabianorodrigo If you add a coverage network to your truffle-config.js following [the README](https://github.com/sc-forks/solidity-coverage#network-configuration) instructions then solidity-coverage will use your truffle config file (instead of it's own) and this problem should go away.

[2019-07-24 17:30] cgewecke commented on #355
@fabianorodrigo Did you get it to work? Is this issue closable?

[2019-07-24 22:20] fabianorodrigo commented on #355
Actually It worked in the way that I have no longer problems related to the compiler version. But now I got another compilation error:  TypeError: Overriding function changes state mutability from "view" to "nonpayable".

The project that I'm trying to run solidity-cover is this: https://github.com/decentraland/marketplace-contracts

[2019-07-24 23:00] fabianorodrigo commented on #355
For the project https://github.com/harmvandendorpel/left-gallery-token it had no compilation errors and executed successfully the tests (5 passing) but in the end of execution I got:

"Cleaning up...
Shutting down testrpc-sc (pid 9993)
Event trace could not be read.
Error: ENOENT: no such file or directory, open './allFiredEvents'
Exiting without generating coverage..."

This is my truffle-config.

[2019-07-25 01:25] fabianorodrigo opened #358 "There was a problem instrumenting ./coverageEnv/contracts/****"
I got the message "There was a problem instrumenting ./coverageEnv/contracts/..." in following projects. Hope it can be helpful.

https://github.com/golemfactory/golem-contracts
Solc version: ^0.5.3
Message: There was a problem instrumenting ./coverageEnv/contracts/GNTDeposit.sol: SyntaxError: Expected ")", ",", comment, end of line, or whitespace but "_" found. Line: 190, Column: 28

https://gith

[2019-07-25 01:29] cgewecke commented on #358
@fabianorodrigo Which version of solidity-coverage are you using? Can you run:
[code]

[2019-07-25 01:52] cgewecke commented on #355
The decentraland contracts have native solidity tests in their `tests` folder - at the moment solidity-coverage cannot manage those. This is a known limitation documented in the README (see [Usage Notes](https://github.com/sc-forks/solidity-coverage#usage-notes)). Should be fixed in `0.7.0.`

With the `left-gallery-token`, there are both truffle.js and truffle-config.js files in the root folder wh

[2019-07-25 01:52] #355 closed

[2019-07-25 01:56] cgewecke opened #359 "Compilation errors when both truffle.js and truffle-config.js are present"
In the case reported in [355](https://github.com/sc-forks/solidity-coverage/issues/355#issuecomment-514830321), the contracts are `0.4.24`. Truffle-config.js contained the coverage network and compilers specification, but solidity-coverage kept using `truffle.js`.

[2019-07-25 02:16] cgewecke commented on #358
@fabianorodrigo Going through these in order. . .I'm using Truffle v5.0.26 and solidity-coverage 0.6.3. I'm adding a coverage network to the truffle-config.js per the README instructions and at the command line running
[code]
**Golem Output (with no additional configuration)**

![Screen Shot 2019-07-24 at 7 05 17 PM](https://user-images.githubusercontent.com/7332026/61840562-66f84080-ae46-11e9-844

[2019-07-25 02:17] cgewecke commented on #358
**2. https://github.com/nicholashc/MerkleShip/truffle**

Bad link.

[2019-07-25 02:23] cgewecke commented on #358
**3. Matic Networks**

Not sure what's going on here but it instrumented fine. Seems to be missing a `.csv` file and would require some additional project specific configuration.  This project *also* has native solidity tests which are not supported, but they seem to have compiled ok.

![Screen Shot 2019-07-24 at 7 20 55 PM](https://user-images.githubusercontent.com/7332026/61841126-88f2c280-ae48-

[2019-07-25 02:27] cgewecke commented on #358
@fabianorodrigo I can't reproduce these errors. It would be helpful if you provided clear reproduction steps for one project - e.g linked to a fork where you have installed coverage, which I can clone and run a command that results in the same error you're seeing

Closing.

[2019-07-25 02:27] #358 closed

[2019-07-25 10:22] fabianorodrigo commented on #358
I'm using 0.6.3

[2019-07-25 10:41] fabianorodrigo commented on #358
@cgewecke, I'm sorry. I found out my mistake. A few weeks ago I cloned solidity-coverage and used 'npm link' in order to use it as dependency. So I wasn't actually running version 0.6.3. I'm going to repair this and report if I found something else.

[2019-07-25 16:44] cgewecke commented on #358
@fabianorodrigo Ah that makes sense! Thank you anyway for testing a wide array of projects, it's super helpful.

👍

[2019-07-28 18:57] meyer1994 opened #360 "Script ignores `compilers` configuration of `truffle.config.js`"
I currently have this `solc` version:
[code]

And my `truffle.config.js` has this compilers section:
[code]

But, when running `$ npx solidity-coverage`, it uses another version?
[code]

Runnning `truffle test` uses the correct (native) version. Is there some configuration that I am missing?

[2019-07-28 19:05] cgewecke commented on #360
@meyer1994 Do you have a coverage network listed in your truffle-config.js as shown in the [README](https://github.com/sc-forks/solidity-coverage#network-configuration)?

SC loads the truffle config and if it doesn't see a coverage network it runs the tests with its own bare bones truffle config which uses the Truffle defaults.

[2019-07-29 12:02] aleybovich opened #361 "Error after coverage run: `Couldn't get a file descriptor referring to the console`"
When I run coverage (0.6.3) in bash (both Elementary and Ubuntu 14 flavors), it successfully runs the tests, correct;y displays the coverage table, but then throws an error which fails the whole process (thus fails the CI):

[code]

Any ideas what it could be?

[2019-07-29 15:49] cgewecke commented on #361
@aleybovich That's very strange. The code at the point where `Done.` is logged reads:
[code]
**Questions**
+ Are you running anything after solidity-coverage (like coveralls?) - i.e could it be a message from another program?
+ Is this happening on Travis or Circle? If so could you share your config so I can try to reproduce?

[2019-07-31 11:13] aleybovich commented on #361
@cgewecke - it must have been a glitch, I can no longer reproduce the issue.

[2019-07-31 11:13] #361 closed

[2019-08-01 17:04] barakman opened #362 "Incorrect block number"
With `ganache-cli` 6.4.4, there is a discrepancy between the actual ("on-chain") block number and the reported ("off-chain") block number.

One would expect `web3.eth.blockNumber` to be equal to `block.number`, but the former is always "1 unit behind" the latter

In other words, `web3.eth.blockNumber` is always equal to `block.number - 1`.

This problem seems to have been resolved on `ganache-cli`

[2019-08-01 17:38] cgewecke commented on #362
@barakman Yes, will see if I can get this done today.

Does 6.5.1 also fix the floating timestamp issue (#252)? I don't see that in the release notes but it looks like a fix was [merged](https://github.com/trufflesuite/ganache-core/pull/443) a couple weeks ago.

[2019-08-01 18:00] cgewecke commented on #360
@meyer1994 Any luck with this?

[2019-08-01 20:29] meyer1994 commented on #360
Sorry about the late response.

You were right. Creating `coverage` network fixed it. Partially. Weirdly, it generates an error during tests that does not happen when running `truffle test`. When I arrive home I will post the error here.

Now about the first fix. Shouldn't the `truffle-config.js` compilers section have precedence over the default value of this package?

[2019-08-01 22:46] cgewecke commented on #360
@meyer1994

Yes, it should. Right now the coverage tool has a very awkward integration with Truffle - it was initially built around Truffle 3 and does everything 'from outside'. These configuration problems should be resolved in [the next version](https://github.com/sc-forks/solidity-coverage/issues/346) which will be written as a Truffle plugin.

[2019-08-02 03:59] yxliang01 opened #364 "docs: lacking supported truffle version information"
There is no truffle version information stated in the documentation nor in the README(as far as I can see). While I can see for the latest version of solidity-coverage, Truffle v5 is supported, I think it's better to state at somewhere.

Thanks

[2019-08-02 04:00] cgewecke commented on #364
@yxliang01 It seems to be working for both Truffle V4 and V5. Are you seeing something different?

[2019-08-02 04:13] cgewecke commented on #362
@barakman `0.6.4`. Closing but please ping if you're not seeing the change you hoped for.

[2019-08-02 04:13] #362 closed

[2019-08-02 04:13] cgewecke commented on #252
`0.6.4`

[2019-08-02 04:13] #252 closed

[2019-08-02 04:16] yxliang01 commented on #364
@cgewecke Nope, it also seems to me it supports quite wide range of Truffle versions. But, I just feel like better to get some Truffle versioning information from the team in the sense that they are "officially supported".

[2019-08-02 04:16] cgewecke commented on #325
Closing for housekeeping, please ping if anyone continues to see this in the latest versions.

There can be a long wait between the second compilation and the start of tests running. It's actually `JSON.parse`  running within Truffle and is also the source of some OOM faults that are documented in the README.

[2019-08-02 04:16] #325 closed

[2019-08-02 04:21] cgewecke commented on #364
@yxliang01 Good idea!  Just added that to first line of the usage notes section: 4705bf81b787cfdb4e4d1e5a708f517d87ebc406

[2019-08-02 04:27] yxliang01 commented on #364
Nice one. So, I think it means all Truffle version v4.x.x and v5.x.x are supported? And, it's irrelevant to the version of `truffle` listed as dependency of solidity-coverage?

[2019-08-02 04:30] cgewecke commented on #364
@yxliang01 Yes it's definitely not relevant to the Truffle here - that's just a dev dependency for our tests and periodically upgraded to make sure they're not breaking us.

I *think* it works for all Truffle 4 that meets the solc requirement, but I'm not sure when the move up to 0.4.22 was exactly. . .

[2019-08-02 04:51] yxliang01 commented on #364
I see. But, let's say if we manually replace the `solc` in any version of `truffle` v4, @cgewecke you would expect that it works well?

[2019-08-02 04:53] cgewecke commented on #364
@yxliang01 Yes, I think it should be ok. Just lmk if you run into trouble with that though, it's useful to know.

[2019-08-02 04:54] yxliang01 commented on #364
Great! Thanks a lot.

[2019-08-02 04:54] #364 closed

[2019-08-02 08:01] barakman commented on #362
@cgewecke:
Wow, thank you for the incredibly fast response to this.
I've upgraded both `ganache-cli` and `solidity-coverage`, and was able to fix the test to "comply" with both versions correctly.
Thanks!!!

[2019-08-02 08:30] cgewecke commented on #360
@meyer1994 I've edited the README to make it clear that adding a coverage network is a default installation requirement.

Closing since SC *does* handle the compiler correctly when a network is defined. Feel free to describe your failing test problem in this thread though...

[2019-08-02 08:30] #360 closed

[2019-08-02 08:32] aleybovich opened #365 "Compiler warnings after instrumentation"
I have the following library:

[code]

When I run `solidity-coverage`, the first compilation has no warnings, then goes instrumentation and the second round of compilation produces the following warnings:

[code]

Looks like instrumentation strips `pure` for those library methods. It's not a huge deal in this case as it doesnt affect test results or coverage, but it just feels like a bug

[2019-08-02 08:51] cgewecke commented on #365
@aleybovich It's not a bug - #146 contains a long discussion of this subject if you're interested...

The coverage tool works by injecting event statements into the contracts but since 0.5.0 Solidity does not allow these in a view or pure function. To get around this restriction we compile twice - first to get the 'correct' ABI (with view/pure). Then instrumented and without visibility modifiers t

[2019-08-02 11:41] aleybovich commented on #365
@cgewecke thank you for the explanation

[2019-08-02 11:41] #365 closed

[2019-08-02 17:21] GNSPS commented on #292
The above solution almost worked for me if it wasn't for the `Number can only safely store up to 53 bits` error that it was throwing.

After reading up on some other issues and how ethereumjs-vm might have a limit of 53 bits for the gas limit parameter that is provided what worked was starting testrpc with:

[code]

[2019-08-02 17:41] cgewecke commented on #292
Thanks @GNSPS. As a sidenote - in the latest version testrpc-sc [launches with](https://github.com/sc-forks/ganache-core-sc/blob/coverage/lib/blockchain_double.js#L19-L39) high gas defaults that *should* work ok out of the box. Would love to know if that's not working.

I've had luck just copy-pasting the README network config into `truffle-config.js` and avoiding the gas options on the client whe

[2019-08-02 19:43] GNSPS commented on #292
It's still giving me a `Returned error: VM Exception while processing transaction: out of gas` error. 😞

[2019-08-02 19:44] cgewecke commented on #292
@GNSPS Are you using `0.6.4`? And can you show the truffle config, launch commands etc?

[2019-08-02 20:10] GNSPS commented on #292
Got it working! 🙌

Solidity-coverage is working out of the box, after all! Just had to up the `gas` parameter in `truffle-config` to something bigger than the default (commenting it out was not working). This is what did it for `truffle-config.js`:
[code]

[2019-08-02 20:11] cgewecke commented on #292
@GNSPS Sweet!

[2019-08-05 20:12] alcuadrado commented on #346
Hey @cgewecke, I'm very interested in this redesign!

Won't you have to recompile the project anyway? Or am I missing something from how it currently works?

Maybe this can also be workarounded by hooking into the vm

We have an experimental in-process client in Buidler, it's already functional, but it hasn't been released yet. It's also based on `ethereumjs-vm`

[2019-08-05 20:14] alcuadrado commented on #346
Also, do you have any idea how this can be tested?

[2019-08-05 21:14] cgewecke commented on #346
@alcuadrado Great!

Oh awesome, I'd love to see this.

Yes, that's correct - but only once. At the moment we have to compile twice. Solidity does not allow event statements in view or pure functions since v0.5.0. To get around this we do an initial compilation of the original contracts to get the 'correct' ABI (with view/pure). Then we strip the state-mutability modifiers off and instrument the co

[2019-08-05 21:34] alcuadrado commented on #346
I'll publish something as soon as I have some time to polish it a little. There's not that much to see though, it's pretty simple 😅It's a minimal provider implemented on top of `ethereumjs-vm`.

It was way more complicated than I suspected. Nice hack though 😁

Oh, yes, I was confused. I think detecting the error and giving a clear explanation would work for the vast majority of the cases. I've onl

[2019-08-05 21:41] cgewecke commented on #346
@alcuadrado This is the holy grail as far I'm concerned. If you think of something please lmk - my understanding of how solidity works at the opcode level is very limited & there could well be a cool trick somewhere.

[2019-08-06 13:54] alcuadrado commented on #346
Did people complain about "stack too deep" errors with the previous approach? How often? I'm almost certain that it should be a cap on how often the new approach will fail. Solidity events use `LOG1` - `LOG4`, which use more stack arguments than assigning a variable.

The only thing that makes me doubt it, is that in your example you are doing three assignments. Why three? I know there are some co

[2019-08-06 16:06] cgewecke commented on #346
@alcuadrado

Ah interesting.

[Occasionally](https://github.com/sc-forks/solidity-coverage/issues/248), but now that I look again it's not clear our event injection was the direct cause. . . I think there are several slightly different cases here:
+ the current design (`0.6.x`) declares Events in the contract level scope and writes arbitrary data to them at the function scope.
+ in the blog post r

[2019-08-07 14:58] alcuadrado commented on #346
This is a good point. I think they shouldn't matter. As the stack before and after an assignment should be the same.

[2019-08-09 21:30] BrendanChou opened #369 "Upgrade to latest stable web3 version"
Currently 1.2.1 at time of writing

[2019-08-10 07:04] cgewecke opened #370 "Error states (0.7.0)"
This is a tracking issue for all the weird error conditions / deficits which 0.7.0 should detect and report
- [x] Stack too deep
- [ ] Missing ternary branch cov
- [ ] Missing assembly statement cov
- [ ] && and || conditionals (see #175, also: can this be addressed by [mutation testing](https://github.com/federicobond/eth-mutants)?)

[2019-08-10 07:25] cgewecke opened #371 "Duplicate contract names in inheritance chain cause test failure"
An example can be seen at [wearekickback PR 27](https://github.com/wearekickback/contracts/pull/27) where the contract set includes this:
[code]
and both 20s are imported by different files in the `contracts` dir.

`truffle test` always adds `ERC20` to it's list of updated files and recompiles it at the last minute, corrupting the view/pure fixes.

This should be fixed by `0.7.0` since view/pure i

[2019-08-10 20:12] cgewecke commented on #286
Question: is anyone using modifiers for 'non-branch' purposes - e.g as gates which do common preparatory work or to normalize params?

[2019-08-11 04:21] yxliang01 commented on #286
I wouldn't be surprised if anyone using modifiers for increasing certain counters?

[2019-08-16 17:08] BrendanChou opened #373 "Use ganache-cli instead of ethereumjs-testrpc-sc"
Now that the `ethereumjs-testrpc-sc` package tracks `ganache-cli`, why not just move to the more canonical version with updates that are released faster?

[2019-08-16 17:09] cgewecke commented on #373
@BrendanChou Oh do you mean 'just use ganache-cli'? Or track their beta?

[2019-08-16 17:23] BrendanChou commented on #373
Not their beta, but `ethereumjs-testrpc-sc` is the same repo now right? I think it just uses the exact code in the `ganache-cli` repo. Just the npm package seems to release updates slower (not talking about beta versions, just stable versions).

So I'm wondering can we just update `package.json` to use ganache-cli instead? That way we don't have to wait for new npm publishes of `ethereumjs-testrpc

[2019-08-16 17:39] cgewecke commented on #373
I wish this was possible but unfortunately testrpc-sc consumes a special fork of ethereumjs-vm (one of ganache's components) which logs the instrumentation solidity-coverage adds to the code. Hoping to remove this dependency in 0.7.0 FWIW.

Yes, this is bad and will try to track more closely. . . atm Truffle's [tests are failing](https://github.com/trufflesuite/truffle/pull/2296) with the newest g

[2019-08-16 19:01] BrendanChou commented on #373
Okay that makes sense, will close for now

[2019-08-16 19:01] #373 closed

[2019-08-28 20:26] alecps opened #376 "Cannot run coverage on imported contracts from node_modules"
Currently, you can only run coverage on custom contracts located in the /contracts directory and not on any npm installed contracts that are inherited by the custom contracts. Some developers need to demonstrate full test coverage for all smart contracts used in their projects, including those in node_modules. However, it is also considered bad practice to move npm installed contracts out of node

[2019-09-04 15:24] vinhyenvodoi98 opened #377 "Can't install solidity-coverage by running `npm install solidity-coverage`"
i can't install this package
This is what my console show
[code]

[2019-09-04 18:19] cgewecke commented on #377
@vinhyenvodoi98 That's just a warning for one of the package's dependencies. It's not preventing installation.

Are you seeing any other problems that would suggest the installation isn't working? What is the output of `npx solidity-coverage` for you when run inside a Truffle project?

[2019-09-05 00:30] vinhyenvodoi98 commented on #377
@cgewecke This is the output of `npx solidity-coverage` when run inside my project
[code]

[2019-09-05 00:36] vinhyenvodoi98 commented on #377
I don't understand why I couldn't install this package last night. I just tried again and it works :+1: .

[2019-09-05 00:37] #377 closed

[2019-09-05 00:40] nventuro commented on #176
I suspected this to be the case, which is why I wondered what it'd take for solidity-coverage to be able to handle it.

No worries! I was saddened by your departure (and not being able to meet at conferences!), but we managed to get by with what you had left us :) And the plans going forward look great!

It wasn't me who made the change, but it seems to be related to us [switching to CircleCI](htt

[2019-09-05 01:43] nventuro opened #378 "Issue insturmenting abstract contracts"
After upgrading to solidity-coverage 0.6.4 on the OpenZeppelin Contracts repository, I encountered the following error:

[code]

Note that `IRelayHub` is an abstract contract: there's no implementation for it on the repo, which I suspect may be related to this.

[2019-09-05 02:24] nventuro commented on #378
I've now noticed other abstract contracts are instrumented with no issues, so that may not be the root cause. For reference, this is `IRelayHub`'s source: https://github.com/OpenZeppelin/openzeppelin-contracts/blob/master/contracts/GSN/IRelayHub.sol

[2019-09-05 02:26] cgewecke commented on #378
@nventuro Yes, it looks like it's something stemming from recent change in solidity-parser-antlr (possibly natspec related) but I'm not sure what. Am fixing it rn by pinning the parser to `0.4.7` for the time being. Will publish a patch shortly...

[2019-09-05 03:03] cgewecke commented on #378
@nventuro `0.6.5` should fix the instrumentation fault but ... I see one failing test in the Zeppelin CI run here...
[code]

The test is [here](https://github.com/OpenZeppelin/openzeppelin-contracts/blob/master/test/GSN/GSNBouncerERC20Fee.test.js#L47-L68). Does this failure make sense because of a variance in how much gas is consumed by coverage instrumented contracts?

[2019-09-05 03:23] nventuro commented on #378
That test is very gas-related, yes, but I'm surprised that the effect is so large (a 30k difference from the expected value). I'd have to look at it in some more detail.

But that's fine, we can simply skip coverage on that one for now. I'll give 0.6.5 a try tomorrow and report back, thanks so much for the quick turnaround!

[2019-09-05 03:45] cgewecke commented on #378
Yes it looks large to me as well - the coverage client should no longer be charging for events so that difference seems weird.

[2019-09-05 04:00] cgewecke commented on #369
This is published in `0.6.5` - web3-eth-abi is still pinned at beta.55 - it has a different interface than the web3 1.x stable does.

@BrendanChou Out of curiosity would dydx have any interest in trialing a beta for solidity-coverage 0.7.0? It's not published yet but am getting quite close. You should be able to pick any ganache version with it and will be faster as well. On the other hand it will

[2019-09-05 11:15] alcuadrado commented on #378
I got similar problems on `truffle-flattener`, and someone suggested to pin that same version. There's [this issue](https://github.com/federicobond/solidity-parser-antlr/issues/82) about it.

It'd be great if `solidity-coverage` could show the stack traces of those errors. That would help with reporting issues, debugging and implementing workarounds. Maybe those should be behind a flag?

[2019-09-05 11:26] alcuadrado opened #380 "Renaming the organization"
Hey @cgewecke,

I was wondering if you ever considered renaming this github organization to something simpler, like just `solidity-coverage`. Having `forks` in the name gives the impression that this is a fork of another project. Actually, I was convinced of that until we first talked 😅

I know there are actual forks under this org, but that's pretty common, and hopefully, they won't be needed for

[2019-09-05 12:05] alcuadrado commented on #376
This is an interesting suggestion.

Can you give more info on this? I'm just curious.

[2019-09-05 16:49] cgewecke commented on #378
Yes this is definitely necessary - all the info is being lost rn.

[2019-09-05 16:57] cgewecke commented on #380
@alcuadrado - Yes, that's not a bad idea - the name is a little weird. SC *is* a fork of JoinColony solcover and the org was originally called that because it relied on so many forks of everything else.

I need to ask @area what his view of this is but the logistics sound straightforward...

[2019-09-05 17:26] cgewecke commented on #359
This should be fixed in `0.6.5`

[2019-09-05 17:26] #359 closed

[2019-09-05 18:06] BrendanChou commented on #369
Sure if there's a 0.7.0.beta I can try getting it to run

[2019-09-05 18:08] cgewecke commented on #369
@BrendanChou Which repo(s) would you run it on? I'd like to make sure it installs and runs ok before publishing.

[2019-09-05 19:35] BrendanChou commented on #369
https://github.com/dydxprotocol/solo

[2019-09-06 04:42] vinhyenvodoi98 opened #382 "Error : /bin/sh: 1: truffle: not found"
I I just installed and used this package in few days ago . it was great . but when I try to run it on Circle CI it gets this error.
[code]
This is my .circleci/config.yml
[code]

this is my repo : https://github.com/vinhyenvodoi98/Test_Contract_With_Truffle/tree/CircleCI
thanks for this great package :+1:

[2019-09-06 04:52] cgewecke commented on #382
@vinhyenvodoi98 Could you try creating a `.solcover.js` config file in your project and adding the following to it:
[code]
NB: you'll have to have truffle in your local `node_modules` for everything to work locally too.

[2019-09-06 08:02] vinhyenvodoi98 commented on #382
@cgewecke thanks it work very well but some thing it different on network
i pass all the test but fail in coverage
check it out :
https://circleci.com/gh/vinhyenvodoi98/Test_Contract_With_Truffle/19
I wonder what happened

[2019-09-06 08:20] cgewecke commented on #382
@vinhyenvodoi98 Ah I'm sorry, I think you'll need to something similar for the compile command in Circle. Does it work if you add this?
[code]
I just cloned and ran your repo locally and everything seems fine there.

![Screen Shot 2019-09-06 at 1 16 24 AM](https://user-images.githubusercontent.com/7332026/64412533-69a0a500-d044-11e9-9ca2-ea45e4d18dca.png)

[2019-09-06 08:27] vinhyenvodoi98 commented on #382
@cgewecke Great! I wish i could give more than one star

[2019-09-06 08:28] #382 closed

[2019-09-06 21:04] nventuro commented on #378
This fixed it, thanks!

[2019-09-06 21:04] #378 closed

[2019-09-08 20:20] PaulRBerg commented on #291
Seconded. I have an array of ignored contracts currently used for other tools and it'd be great to be able to use it with solidity-coverage too.

[2019-09-08 20:46] PaulRBerg opened #384 "Feature request: override default cwd path for `.solcover.js`"
My folder structure:

- root
    - package1
        - .solcover.js
    - package2
        - .solcover.js

I have to do this because solidity-coverage uses [req-cwd](https://github.com/sindresorhus/import-cwd#readme). It'd be cooler if I could override the default cwd path for `.solcover.js` through the CLI. It seems that `solidity-coverage` doesn't accept any options at all at the moment.

[2019-09-08 21:44] cgewecke commented on #384
@PaulRBerg Ah yes, that's a good idea. Couple quick questions...

+ Is [sablier](https://github.com/sablierhq/sablier) the repo you'd target for this?
+ You'd like it to be like solhint in the various package.jsons? e.g
[code]

As a practical matter this feature would be added in the `0.7.0` release (described in #346 / implemented in #372) which contains a number of breaking changes for installat

[2019-09-08 21:57] PaulRBerg commented on #384
Exactly! Although I haven't yet pushed to remote my local integration of solidity-coverage.

Exactly x2!

Here's the scripts I currently have for eslint and solhint:

[code]

I'd love to! And yeah your example command seems to be exactly what I was thinking of.

[2019-09-08 22:00] cgewecke commented on #384
@PaulRBerg Ok awesome. Am actively looking for industrial sized projects to validate the beta against and will be starting to do some installations and integration tests next week.

I will ping you then when it looks like it might be in good enough state to try out...

[2019-09-08 22:04] PaulRBerg commented on #384
Cool!! I'm on [Twitter](https://twitter.com/PaulRBerg) and [Telegram](https://t.me/paulrberg).

[2019-09-09 08:55] area commented on #380
I have no qualms with renaming the organisation to something more sane!

[2019-09-09 15:42] PaulRBerg commented on #131
Nevermind the comment above, those were warnings not errors. I saw https://github.com/sc-forks/solidity-coverage/issues/365 and I understand that it's a corollary of using solidity-coverage.

But I don't think #822 solved the issue with the org name imports. I still have to type `@openzeppelin` rather than `@openzeppelin/contracts-ethereum-package`.

@cgewecke is that so?

[2019-09-09 15:58] PaulRBerg commented on #245
@gkamtzir is correct, but the same error occurs when importing contracts from packages in "node_modules" that have *not* been listed in `.solcover.js`.

Also see https://github.com/sc-forks/solidity-coverage/issues/131#issuecomment-417748614.

[2019-09-09 16:03] PaulRBerg commented on #376
Just like @alcuadrado, I'm also curious to find out more about your use case.

As far as I know, everyone expects the files under "node_modules" to be production-ready. That is, no tests or coverage should be run against them.

Yes, that is bad practice,.

[2019-09-09 16:29] PaulRBerg commented on #264
This is not the case with [yarn workspaces](https://yarnpkg.com/lang/en/docs/workspaces/), since modules are not hoisted to each subdirectory by default. They can be "dehoisted" only if you manually do so via [nohoist](https://yarnpkg.com/blog/2018/02/15/nohoist/).

My particular situation is a pain in the neck. I managed to sort out the `@openzeppelin/contracts-ethereum-package` module by doing t

[2019-09-09 17:37] cgewecke commented on #264
@PaulRBerg This should be resolved by 0.7.0 because it stores instrumented solidity files in a temporary folder at the same layer as `contracts`. Right before coverage is run the project looks like this:
[code]
Any path which truffle resolves correctly for yarn workspaces should work. `copyPackages` and `copyNodeModules ` are no longer necessary in `0.7.0`.

@PaulRBerg For a project with sabliers

[2019-09-09 17:44] cgewecke commented on #131
@PaulRBerg [aragon-apps](https://github.com/aragon/aragon-apps/blob/master/apps/agent/.solcover.js) is the project that most resembles your use case and AFAIK it's resolving stuff correctly there.

Do you see differences between their setup and yours that might resolve this question?

[2019-09-09 19:55] AlecSchaefer commented on #376
I agree that the files under node_modules are expected to be production ready. However, I have encountered requests from mangers to demonstrate full coverage on all contracts, and needed to fork the tool in order to satisfy those requests. It's probably not a feature every dev will need, so if it's a pain to add it feel free to close

[2019-09-09 22:13] cgewecke commented on #376
@AlecSchaefer In defense of your proposal - nyc (the JS coverage tool) [has a special option to allow this](https://github.com/istanbuljs/nyc/pull/912) so it's a valid use case in JS world.

My original feeling was that *if* there were coverage gaps in the dependencies ideally one would open PRs addressing that deficit at the source. But I can see how that might not be acceptable (or convenient) f

[2019-09-09 22:18] PaulRBerg commented on #264
This would be legend!

Sounds good. We do have an audit commencing next week, but I think we could get away with copy-and-pasting the contracts for the time being.

[2019-09-09 22:23] PaulRBerg commented on #376
Not off the top of my head, but I do have indirect proof. The node ecosystem is increasingly moving towards a node_module-less world (see npx, yarn pnp), hence in the future it won't even be possible to move a dependency out of "node_modules" because there will be no "node_modules".

However, forking and installing from there is totally fine. Having your changes on GitHub is a much better cohesive

[2019-09-09 22:35] cgewecke commented on #264
@PaulRBerg Ah! I think I will be publishing tomorrow AM (GMT -8) if all goes well today so hopefully you'll be ok.

[2019-09-09 22:44] PaulRBerg commented on #264
Amazing! Thank you @cgewecke, your support these days has been exceptionally helpful. I logged in my @SablierBot account to double-star this repo.

[2019-09-09 23:37] alcuadrado commented on #376
Just to avoid confusion: I think adding this option is a good idea. At Nomic Labs we conduct smart contract security audits, so I empathize with such a strict testing requirement, and that was the reason for my curiosity.

[2019-09-09 23:56] PaulRBerg commented on #131
@cgewecke sorry, I conflated the error I found in #264 with the one here. I confirm that I can use `@openzeppelin/contracts-ethereum-package` in the [protocol package](https://github.com/sablierhq/sablier/tree/develop/packages/protocol), where I import external contracts only from @openzeppelin.

[2019-09-10 16:27] AlecSchaefer commented on #376
The best authoritative citation I could find saying that it's bad practice to move contracts out of node_modules is in Zeppelin's public [audit of Augur](https://blog.openzeppelin.com/augur-core-audit-244160d77c09/). In the "Medium severity" section, the audit recommends to [Install OpenZeppelin via NPM](https://docs.google.com/document/d/1saSVpT2Ixd58q-DZlTtzfkNizuTTE4yVoGuWz_AatZM/edit#heading=h

[2019-09-10 16:45] cgewecke commented on #376
@AlecSchaefer Excellent, thank you.

[2019-09-10 19:06] BrendanChou opened #392 "Please upgrade to fork of latest ganche-cli fork v0.6.7"
Needed for certain tests to run such as those that use the latest eth_signTypedData rpc call

[2019-09-10 19:26] cgewecke commented on #392
@BrendanChou

Apologies, I published the beta last night and am going to try installing at dydx this afternoon/evening. You should be able to use whatever ganache-core version works best then.

Unless there are serious problems with the new version I might try to get away with not bumping testrpc-sc again - it's four forks that have to be synced with their upstream, re-hacked and then built togeth

[2019-09-10 19:47] BrendanChou commented on #392
No worries, that makes sense. This isn't a huge blocker as I am just running necessary tests outside of coverage.

For the breaking change, I just now don't estimate gas in tests anymore, instead setting the gas amount to a static amount of 5mil or something

[2019-09-11 00:20] cgewecke commented on #392
@BrendanChou

Out of curiosity, if testrpc-sc was republished with only the changes in [ganache-core 460](https://github.com/trufflesuite/ganache-core/pull/460/files) would that work for you?  i.e just bumping the eth-sig-util dep and changing the method signature there?

I ask because I've taken a look at dydx/solo (it's amazing!) and it's clear you've blazed some new ground :) I'd kind of like t

[2019-09-11 17:02] BrendanChou commented on #392
I believe that's the main change that I'm looking for, yes

[2019-09-16 20:22] cgewecke commented on #369
Closing this for housekeeping - will re-open if are still concerns about these deps though.

dydx/solo with 0.7.0 is being tracked #372.

[2019-09-16 20:22] #369 closed

[2019-09-16 20:33] cgewecke commented on #342
Closing

`0.6.7` installs with one low security vuln. Believe this is web3's [insecure credential storage](https://snyk.io/vuln/npm:web3) which is irrelevant for this tool.

NB: `npm audit` is broken today with
[code]

[2019-09-16 20:33] #342 closed

[2019-09-16 20:45] cgewecke commented on #179
Believe this was fixed in `0.6.x` which uses solidity-parser-antlr. Closing for housekeeping.

[2019-09-16 20:45] #179 closed

[2019-09-17 01:31] cgewecke commented on #175
Leaving some notes on a possible solution...

`0.7.0` instruments as shown below. We track line/branch hits by inspecting the vm stack at each opcode step and pick out hashes we've passed to an injected "coverage" function:
[code]

If  we modified the coverage function definition to return bool...
[code]

...we might be able to detect these additional branches by injecting like this:
[code]

**Add

[2019-09-17 06:38] cgewecke commented on #346
`0.7.0` is under way at #372 now.  Closing in favor.

Copying over the remaining questions raised here....
+ Official API at ganache for obtaining the VM step (atm we're exposed to their internals)
+ Buidler field in package.json.
+ Can we minimize gas distortion through the new ethereumjs-vm API?

[2019-09-17 06:38] #346 closed

[2019-09-20 22:52] cgewecke opened #411 "Additional coverage measurements"
Tracking/reference issue for additional coverage measurements that
+ can be added in `0.7.0`
+ we have a plausible way of implementing
--------

- [ ] Public storage variable line coverage (#281) ([design idea](https://github.com/sc-forks/solidity-coverage/issues/281#issue-355931089))
- [ ] Modifier-hits-at-call-site branch coverage (#286) ([design idea](https://github.com/sc-forks/solidity-covera

[2019-09-20 23:09] cgewecke commented on #219
This could be possible in the new design using a strategy similar to the one proposed for #175 [here](https://github.com/sc-forks/solidity-coverage/issues/175#issuecomment-532020343).

`0.7.0` instruments as shown below. Line/branch hits are tracked by inspecting the vm stack at each opcode step and picking out hashes we've passed to an injected "coverage" function:
[code]

If we modify this appro

[2019-09-25 04:26] cgewecke commented on #63
Closing, moot.

[2019-09-25 04:26] #63 closed

[2019-09-27 08:49] jklepatch opened #416 "Truffle test fail only with solidity-coverage"
It's the second time this happen. And I dont see the common point.

Is it possible to skip the test phase of solidity-coverage or at least exclude some tests?

[2019-09-27 08:56] cgewecke commented on #416
@jklepatch Have you tried the new beta version -`7.0.0-beta.2`? The tests might pass, and It also has a [way of skipping](https://github.com/sc-forks/solidity-coverage/blob/beta/docs/advanced.md#skipping-tests) tests easily.

There are new docs for 0.7.0 [here](https://github.com/sc-forks/solidity-coverage/tree/beta#install)
There is a guide to upgrading from 0.6.0 to 0.7.0 [here](https://github.c

[2019-09-27 13:02] jklepatch commented on #416
No I havent. What you linked is exactly what I need. I will just wait for the stable release.
My project is not public, but thanks for the help :)

[2019-09-27 16:21] cgewecke commented on #416
@jklepatch No problem :)

I hope you don't mind but I'm going to close - there's nothing more we do here. (Because 0.7.0 involves quite substantial changes to how the project is installed, it will be a while before it leaves beta. )

[2019-09-27 16:21] #416 closed

[2019-10-02 07:17] boolafish opened #417 "Why force turning off solc optimizer in 0.7.0 beta?"
Hi, recently somehow I get a code that can only compile with optimizer on :sweat::sweat::sweat:

But anyway, just realized that during the coverage, it actually force flagging the using optimizer flag to false: https://github.com/sc-forks/solidity-coverage/blob/beta/dist/truffle.plugin.js#L92

Is there a reason to do so? Also, shall we also just keep in mind that the coverage would always be runni

[2019-10-02 08:29] cgewecke commented on #417
@boolafish Yes, atm it always turns the optimizer off because it instruments the solidity by injecting small no-op statements which the optimizer might remove.

Can you link to the code which only compiles w/ optimization on? Why does it not work when optimization is off?

[2019-10-02 08:37] cgewecke commented on #417
https://github.com/omisego/plasma-contracts/pull/328/commits/90d88261d1f0822e28a6b2a30c7580364728e318

[2019-10-02 08:42] boolafish commented on #417
Yeah, the above is the fix on our side.
If you're interested, I put a problem-ish branch on my fork:

branch: [fail_with_optimizer_off](https://github.com/boolafish/plasma-contracts/tree/fail_with_optimizer_off)
latest commit with some observation of mine: [here](https://github.com/boolafish/plasma-contracts/commit/1b78d6ea4f268e777092fcca5828ea268b8ba45c)

[2019-10-02 08:49] cgewecke commented on #417
@boolafish Ah that's really interesting thank you.

I think the coverage tool should probably try to be clearer about what the compilation settings are in the docs and terminal output. There are probably more cases like this....

[2019-10-02 12:17] alsco77 commented on #417
fwiw, I also had this issue and was lucky to search through existing issues on here for an answer. It's a hard one to communicate to the user, but yeah I think just being clearer about what the compilation settings are is a step in the right direction. Not sure why my method execution fails when optimisation is disabled though :)

[2019-10-02 16:30] cgewecke commented on #417
@alsoc77 Out of curiosity - what is your compilation error message? Is the code where youre seeing this public?

[2019-10-02 16:37] cgewecke commented on #417
For context @boolafish's error is
[code]
which looks like a internal solidity crash... I wonder if these incidents should be collected and reported to solc.

[2019-10-03 07:25] boolafish opened #418 "Solidity coverage inserting `else` branch to the wrong place and failed to compile"
### What
Somehow the coverage tool inserts the `else` in wrong place and make the contract non-compilable. (It failed to insert after the `{` of `if` block and inserted inside the `if`)

Here is one error instance on our CI: https://circleci.com/gh/omisego/plasma-contracts/3663
I make a branch for the failing code: https://github.com/boolafish/plasma-contracts/tree/solidity_coverage_bug_inserting_

[2019-10-03 07:58] cgewecke commented on #418
Thanks so much @boolafish.

For future reference, we need to replace to non-ascii characters in the source files as part of pre-processing because they mess up the parser range counts somehow.
[code]

[2019-10-03 09:02] alsco77 commented on #417
My scenario is a bit tricky to disect. I did end up figuring out a solution though.
I have a ContractFactory that has a `createContract` func in which it deploys a new <child>, and there was an issue in the bytecode of the constructor of the child that was causing a revert. One of the libraries that was linked to this child was using an external contract that hadn't been deployed, rather than refe

[2019-10-14 15:50] JasoonS commented on #325
I have this issues with this code base: https://github.com/wild-cards/contracts

I will try switch to 0.6 *

[2019-10-14 18:10] cgewecke commented on #325
@JasoonS Hi, in your case the hang is caused by an interaction between eth-gas-reporter and solidity-coverage. The gas-reporter makes synchronous http calls and requires that the ethereum node run in a separate process (or else the execution locks). Solidity-coverage@beta is the opposite - it requires the ethereum node be in *the same* process the tests so it can monitor the node's VM.

You can se

[2019-10-14 18:14] cgewecke opened #423 "0.7.0 beta hangs when run with eth-gas-reporter"
The gas-reporter makes synchronous http calls and requires that the ethereum node run in a separate process (or else the execution locks). Solidity-coverage@beta is the opposite - it requires the ethereum node be in *the same* process as the tests so it can monitor the node's VM.

As a work-around, the mocha reporter solidity-coverage 0.7.0-beta.2 uses can be set by adding a .solcover.js file with

[2019-10-14 18:20] cgewecke opened #424 "[OZ-SDK] Error: network 'soliditycoverage' is not defined ..."
openzeppelin-sdk makes a [check][1] of truffle-config.js which throws this error if the plugin defines it's own default network.

A work-around in to run the command using a flag for an already declared network, e.g
[code]

Discovered while debugging [wild-cards/contracts](https://github.com/sc-forks/solidity-coverage/issues/325#issuecomment-541759658)

[1]: https://github.com/OpenZeppelin/openzep

[2019-10-14 22:55] JasoonS commented on #325
@cgewecke Thank you so much! You are a rock star!

[2019-10-14 22:59] cgewecke commented on #325
@JasoonS Thanks for trying the beta and reporting this bug! Super helpful.

[2019-10-17 22:21] dong77 opened #425 "Assembly LHS tuple assignments break instrumentation"
On this branch of my project - https://github.com/Loopring/protocols/tree/coverage

Run `npm run coverage` inside `packages/loopring_v3` yield the following error:

[code]

[2019-10-17 22:22] dong77 commented on #425
`npm run compile` compiles all contract successfully.

[2019-10-17 23:07] cgewecke commented on #425
@dong77 Thanks for opening.

It looks like Poseidon.sol has assembly statements that our parser (solidity-parser-antlr) is not handling correctly. The underlying issue can be seen in its [assembly grammar rules](https://github.com/solidityj/solidity-antlr4/blob/88c2be659adc4b65adce7efc48657cacb5ed9675/Solidity.g4#L300-L313)

However, I was able to parse successfully by using explicit `let` syntax

[2019-10-18 03:23] dong77 commented on #425
Thank you  @cgewecke. Your suggestion seems working :) 👍 But I ran into another issue:

[code]

[2019-10-18 03:26] jklepatch opened #427 "How to detect coverage network in test?"
Some tests fail inexplicably on with solidity-coverage (yes I already read [this](https://github.com/sc-forks/solidity-coverage/blob/master/docs/faq.md#continuous-integration-installing-metacoin-on-travisci-with-coveralls)).

I would like to disable these tests for solidity-coverage with a if statement:

[code]

Problem is, the [default network configuration](https://github.com/sc-forks/solidity-c

[2019-10-18 03:32] cgewecke commented on #425
@dong77 Maybe in package.json, rewriting the coverage command so it's more like `test`...?
[code]

Not sure. There are also workflow hooks you might want to look at [here](https://github.com/sc-forks/solidity-coverage/blob/beta/docs/advanced.md#workflow-hooks)

[2019-10-18 03:40] cgewecke commented on #427
@jklepatch Are you using 6.x or 7.x-beta? In the latter it's possible to set the network id explicitly in .solcover.js 's providerOptions.

For 6.x, an example of how to do this could be found previously at the ganache launch scripts at [aragon-court, here](https://github.com/sc-forks/aragon-court/blob/ba911340323b69a5f09e156d290a92895f7a470f/scripts/ganache-cli.sh).

[2019-10-18 12:32] jklepatch commented on #427
Thanks, I am using 0.6x, I will wait for the stable 0.7 release.

I fixed my problem by replacing `contract.readFunction(args)` to `contract.readFunction.call(args)`. (Truffle Contract).

When not using the `call()` notation, this gets executed as a transaction instead of a call, and I dont get the return value of the function.

[2019-10-18 17:52] dong77 commented on #425
Thank you. @cgewecke

[2019-10-18 17:52] #425 closed

[2019-10-18 17:59] cgewecke commented on #427
@jklepatch Ok sounds good.

The source of that problem is fixed in 0.7.x-beta because we're no longer modifying any solidity function signatures or instrumenting dependencies.

[2019-10-18 17:59] #427 closed

[2019-10-30 07:43] robin-thomas opened #429 "Running coverage on a contract which uses a contract without ContractDefinition fails"
If you have a smart contract A.sol, whose coverage is skipped in `.solcover.js`, as shown below (which is used in the truffle tests), then the unit tests are not getting run when we run the coverage command (but the tests work fine with `truffle test` command).

[code]

But if I copy the file `npm_package/contracts/A.sol` into the contract file A.sol and run the coverage, then it works.

Any idea

[2019-10-30 23:36] robin-thomas commented on #429
Hi @cgewecke,

* Correct. The smart contract file has only an import statement. The use case for this is only for testing. I'll explain more.

Let's say, my main contract needs to mock the operations of an external contract (`A.sol`) only during testing. During real deployment, my smart contract will be talking to the external contract that's maintained by that company (so I already have the contr

[2019-10-30 23:39] cgewecke commented on #429
@robin-thomas Ah great, thanks for reporting this. Wasn't familiar with that usage....

I will add that case to our tests and make sure it's handled. The beta will probably not be published again for ~10 days, so until then you will have to use a work-around. Apologies.

[2019-10-31 08:00] robin-thomas commented on #429
@cgewecke Ah no issues. I can use my workaround for now.

Thanks for this great project anyway!

[2019-11-02 00:35] cgewecke opened #430 "Produce tests per line data"
It has been proposed in [JoranHonig/vertigo 20](https://github.com/JoranHonig/vertigo/issues/20) that being able to identify exactly which tests exercise which line of Solidity would be useful data for mutation testing and fault-localization techniques.

The issue linked to above includes lots of discussion about how to achieve this. Would probably be a command separate from coverage & just consum

[2019-11-02 03:10] yxliang01 commented on #430
Cool! I think this issue moves solidity-coverage from a pure utility to become a more framework or library-like project :)

[2019-11-02 16:45] barakman commented on #376
@cgewecke: So where does this issue stand then?

I am getting `TypeError: Overriding function changes state mutability from "view" to "nonpayable".` when my contract imports from a preinstalled package (i.e., imports a contract located under `node_modules`).

I can resolve the problem by copying that contract (from under the `node_modules` folder) into my "local" `contracts` folder, and then impor

[2019-11-02 17:58] cgewecke commented on #376
Unfortunately I also don't understand this. Tbh 6.x has been substantially rewritten in 7.x because the strategy of modifying the state mutability modifiers to permit Event statements has been brittle.

The most common failure comes from Truffle running `compile` outside of solidity-coverage's direct control. When you execute - you should see *only two* compilation cycles. If there's a third right

[2019-11-02 19:02] barakman commented on #376
@cgewecke : Thank you for your very quick response.
No, that's no may case (as far as I can tell; hopefully I'm not missing anything here).
I actually experience two different types of failures under two different setups (haven't yet minimized those setups to be posted here).

One type is what I've described above - the `view` classifier is omitted, thus overriding function changes state mutabilit

[2019-11-02 19:17] cgewecke commented on #376
@barakman I will check out the example. People are often alarmed when they see the modifiers removed, but behind the scenes the ABI's are rewritten so that truffle `calls` those methods instead of sending them as transactions. What you've described is consistent with the 'unwelcome third compilation' phenomenon, where Truffle undoes the ABI modification and all of that work goes awry. You get a re

[2019-11-03 09:20] barakman commented on #376
@cgewecke:
I've checked this, and found that your 'third-compilation' conjecture doesn't seem to be the case on my setup (i.e., in both cases, there appear to be exactly two compilations).

The difference appears to be that the `Skipping instrumentation of` step is applied on contracts located under my `contracts` folder, but not on contracts located under the `node_modules/some_package` folder.

[2019-11-03 17:55] cgewecke commented on #376
@barakman  There is an option `deepSkip: true` which might help with this.

[2019-11-03 20:19] barakman commented on #376
@cgewecke : Thank you, but that's not the cause of the problem anyhow.

I have uploaded an actual repo, in which I was hoping to rely on contracts from an npm-installed package, but instead ended up downloading those contracts at the end of the `npm install` process directly into my `contracts` folder.

The repo is at https://github.com/bancorprotocol/airhodl.

As you can see in the [package.json

[2019-11-03 21:11] cgewecke commented on #376
@barakman

Ah! I wonder if this is artifact related.  I noticed the Zeppelin package ships with it's own build directory. Perhaps Truffle 4 is checking those and ignoring SC's changes to the root directory build. If you run:
[code]
...does that have any effect?

[2019-11-04 04:03] barakman commented on #376
@cgewecke:

By *artifacts*, I was not referring to those json files generated by `truffle compile`, but to a bunch of bin and abi files used in [several standalone web3 scriptss](https://github.com/bancorprotocol/airhodl/tree/master/solidity/scripts), totally independent of Truffle and SC.

Although these artifacts were extracted from `truffle compile` output **on the other repo** (using [this scr

[2019-11-16 01:58] wjmelements opened #431 "Allow specification of network hardfork"
`ganache-cli` supports a fork parameter, `-k`, which lets you specify which network upgrade to test with. It would be useful if there was a way to pass this information to the ganache. Perhaps a setting in .solcover.js?

[2019-11-16 02:18] cgewecke commented on #431
@wjmelements

I think if you want to test vs. `istanbul` you will need to upgrade to the [0.7.0 beta][1].

That lets you use any ganache version and specify [providerOptions][2] for it in .solcover.js. The options format follows ganache-core. In that context `-k` is called `hardfork`.

(There's an upgrade guide from 0.6.x if you're interested, [here][4])

Please just lmk if you have any difficulty

[2019-11-16 02:19] wjmelements commented on #431
I'll do this Monday as part of TrustToken/registry#22

[2019-11-16 02:20] wjmelements commented on #431
Thanks, I'll let you know how it goes.

[2019-11-18 22:36] wjmelements commented on #431
I got it working. Here were the steps.

I installed the beta solidity-coverage and added the plugin line to truffle.js:

[code]

When I set
[code]
I get

[code]

So I install `ganache-cli` locally as:

[code]

and set in `.solcover.js`

[code]

I hope this will help others work through getting Istanbul working.

Thanks @cgewecke

[2019-11-18 22:36] #431 closed

[2019-11-18 22:42] wjmelements commented on #431
Line coverage does not seem to work, though.

[2019-11-19 02:38] cgewecke commented on #431
@wjmelements Sorry, could you elaborate on line coverage not working?

[2019-11-19 03:12] cgewecke commented on #431
@wjmelements There's an issue in your project with how solc is configured in `truffle.js`. For internal reasons, solidity-coverage modifies the solc settings to compile without optimization, and assumes the Truffle V5 convention for that option.

TLDR; removing the Truffle V4 style config:
[code]
... will give you this:
![Screen Shot 2019-11-18 at 7 04 46 PM](https://user-images.githubusercontent.

[2019-11-19 03:13] wjmelements commented on #431
Wow, thanks!

On Mon, Nov 18, 2019 at 7:12 PM cgewecke <notifications@github.com> wrote:

[2019-11-19 18:15] steven-gong-artos opened #432 "Error: TypeError: Cannot read property 'files' of undefined"
Hi,
I'm using solidity coverage with the following version:

And receives the following error message:

Error: TypeError: Cannot read property 'files' of undefined
    at Object.run (~\AppData\Roaming\npm\node_modules\truffle\build\webpack:\packages\migrate\index.js?abc3:92:1)
Truffle v5.1.0 (core: 5.1.0)
Node v10.16.3

I am using the default values in .solcover.js file.

Is there anything I shoul

[2019-11-19 18:20] cgewecke commented on #432
@steven-gong-artos If you have a sec could you try using an earlier version of Truffle - maybe 5.0.41 - they just released 5.1.0 - maybe behavior has changed slightly.

Also, are you getting a coverage report? Is everything except for this final error working?

[2019-11-19 20:33] cgewecke commented on #432
@steven-gong-artos

Was able to run solidity-coverage with Truffle's MetaCoin project on 5.1.0 without any problems.

Do you have a reproduction case for this? Would be happy to look at it.

[2019-11-20 03:47] cgewecke commented on #432
@steven-gong-artos

Suspect this might be caused by something similar to [truffle 2419][1]. In that case, an empty folder in the test directory triggers the error. Underlying cause is the [node-dir][2] module which solidity-coverage uses for a similar purpose.

[1]: https://github.com/trufflesuite/truffle/issues/2419
[2]: https://github.com/fshost/node-dir/issues/53

[2019-11-20 08:10] steven-gong-artos commented on #432
Hi @cgewecke,
I've tried truffle 5.0.41 and it returns the same Error.
The coverage report is generated, and only this final error causes confusion.

[2019-11-20 16:10] mrice32 opened #433 "Internal calls from constructor fail to compile"
We've been running into a compilation issue related to calling internal functions from a constructor (I think this used to be an issue in `solc`). The following contract fails to compile after being instrumented:
[code]
The error that the compiler gives is:
[code]

We've noticed that moving the internal call to a `public` method seems to avoid the issue. The following contract compiles fine after

[2019-11-20 16:19] mrice32 commented on #433
This seems very similar to this issue on older versions of the Solidity compiler. Not sure what would make it show up again - the above was compiled with `0.5.13`.

[2019-11-20 16:28] martinetlee opened #434 "[0.7.0beta2] when truffle-config.js is malformed, the tool reports incorrect coverage"
Hello team! First of all, thank you for the wonderful tool and I really like the changes to 0.7.0, made the tool really easy to use.

I'm here to report an issue I've encountered recently when using the tool with a malformed truffle-config.js.

Tested with `solidity-coverage` of version `0.7.0-beta.2` and Truffle version `v5.0.39`.

We've noticed that solidity-coverage reports incorrect result whe

[2019-11-20 16:35] cgewecke commented on #433
@mrice32

(Assuming you are using the 0.7.0-beta)

This sounds a lot like the reports in #417. There, it's been attributed to solidity-coverage forcing solc to compile without optimization. Do you get the same error if you disable optimization in a regular test run?

[2019-11-20 16:40] cgewecke commented on #434
@martinetlee Thanks! Great idea, will do this.

[2019-11-20 16:42] mrice32 commented on #433
Thanks for the quick response. We're currently using the latest stable release, `0.6.7`.

I'll try 1) compiling with the optimizer disabled and 2) a coverage run with the 0.7.0-beta and let you know the results. Thanks!

[2019-11-20 16:47] cgewecke commented on #433
@mrice32 Ah cool ok, just lmk if you run into problems...there are links to the 0.7.0 docs and an upgrade guide at the top of the current README.

[2019-11-20 16:57] mrice32 commented on #433
I tried compiling with the optimizer off, and I had no problems, which leads me to believe that this may be a distinct issue from #417

As for the beta, do you suspect that installing it may solve this issue assuming it's not a duplicate of #417? I only ask because the beta may take me a bit longer to set up since we have a bit of custom plumbing built around the `0.6.x`. We'll get around to this

[2019-11-20 17:01] cgewecke commented on #433
@mrice32 Yes I do suspect that (unfortunately). The beta uses a much less problematic instrumentation strategy and if you can compile without optimization normally you shouldn't see that error.

Could I ask what your additional plumbing is like?

[2019-11-20 17:25] mrice32 commented on #433
It's not super complicated, it's just these files:

https://github.com/UMAprotocol/protocol/blob/master/ci/coverage.sh
https://github.com/UMAprotocol/protocol/blob/master/common/globalSolcoverConfig.js

I'll need to work through the beta instructions, which will almost certainly get rid of or simplify most of this code.

[2019-11-20 19:46] cgewecke commented on #432
@steven-gong-artos

I was able to reproduce your error by adding an empty folder to the migrations folder. Could you check that directory for an empty folder, remove it and see if this error goes away?

[2019-11-20 20:08] mrice32 commented on #433
The contracts seem to compile correctly with the beta, which is great news! Thanks for your help.

I've attempted to upgrade our repo to the beta, but I've run into an issue that I can't seem to resolve. I'm not sure if it's a coverage issue or a truffle issue.

This error throws before any tests are run.
[code]

Not sure why the error has no description, but I narrowed it to this line in our migr

[2019-11-20 20:21] mrice32 commented on #433
Also, please let me know if you'd prefer that I move discussion of this issue to a new issue since it's unrelated to the title of this issue.

[2019-11-20 21:27] cgewecke commented on #433
@mrice32

In your package.json Truffle looks pinned at 5.0.21. Is it possible to upgrade to a newer Truffle version and see if the regular tests work?

Then, if they do - try solidity-coverage again with the newer version. The beta relies on plugin resources that were added after 5.0.31. It tries to handle older Truffle versions but maybe that's not working super well.

This thread is fine! Super

[2019-11-20 21:38] mrice32 commented on #433
Thanks for the tip - I'l make sure I run with `>= 5.0.31`. I locally upgraded to the newest truffle release `5.1.0`, and got the same error:
[code]

[2019-11-20 21:38] cgewecke commented on #433
Also @mrice32 if you push your change-set to UMA I'd be happy to take a look and debug locally.

[2019-11-20 21:42] mrice32 commented on #433
Sure, here's the branch I'm using: https://github.com/mrice32/protocol/tree/coverage. Sorry if it's a little messy!

[2019-11-20 21:44] mrice32 commented on #433
To run coverage you'll need to run the following commands from the top level directory:
[code]

[2019-11-20 21:45] cgewecke commented on #433
Awesome, checking it out rn.

[2019-11-20 22:22] cgewecke commented on #433
Ok! In coverage.sh
[code]
...get the tests running. Still debugging though because I see a couple failing.

[2019-11-20 22:40] cgewecke commented on #433
I got this:
![Screen Shot 2019-11-20 at 2 33 07 PM](https://user-images.githubusercontent.com/7332026/69284194-dd157580-0ba2-11ea-841f-218b138fba0b.png)

But I see this set of errors - not sure what's expected here. Can you clarify?
[code]

One thing that might be important is to set the `network_id` param for the launched client - I see that specified in the "ci" network in the truffle config.

I

[2019-11-20 23:28] mrice32 commented on #433
Gotcha. That makes a lot of sense. Just out of curiosity, why can't you just use `*` for the network id?

I'm guessing those test errors have to do with some of the other stuff that I changed, but I'll dig in and double check. Regardless, I think this is really close to working. I really appreciate you taking the time to help!

[2019-11-21 00:18] cgewecke commented on #433
@mrice32 "*" is very likely fine, was just mentioning it in case there's some network id specific logic in your code. Often people give that a concrete value when they're using it to toggle something on/off.

No problem! Thanks for trying the beta and just ping this ticket if there's more to fix.

Closing for now though because the 0.6.x branch isn't going to get further development.

[2019-11-21 00:18] #433 closed

[2019-11-27 15:20] pythonpete32 opened #442 "installing anything with npm that has `solidity-coverage` as a dependency fails"
Installing anything with npm that has `solidity-coverage` as a dependency fails

I recently migrated to Debian 10. but anything that I try to install via npm with `solidity-coverage` fails with a very strange error

[code]

I'm using `NVM` with node`10.15.3` I have no idea why this is happening other than its related to `solidity-coverage` which is basically impossible to avoid. [here is a copy of

[2019-11-27 18:44] cgewecke commented on #442
Hi @pythonpete32, thanks for reporting.

Tbh I haven't seen this error before. Solidity-coverage installs and runs the zeppelin-solidity test suite on a linux machine [without problems in CI][1].

From your log it looks like the installation error comes from `handlebars@4.0.1` and the only thing I found about that suggested running:
[code]

Another possibility is to try installing the new beta (0.

[2019-11-28 09:51] pythonpete32 commented on #442
`npm cache clean --force` worked! thank you

[2019-11-28 09:51] #442 closed

[2019-11-30 03:42] cgewecke commented on #429
Just leaving some notes about this because I think it will remain open for a bit....

There was an undefined property crash in SC because the possibility of a contract file without a root node was not considered. That is fixed in #429.

*However*, the test I created for this fails anyway :/ There's a quirk in the truffle compile method for this case which I can't figure out. Error looks like this.

[2019-12-01 01:01] cgewecke commented on #434
Fix published in [0.7.0-beta.3](https://github.com/sc-forks/solidity-coverage/releases/tag/v0.7.0-beta.3).

[2019-12-01 01:01] #434 closed

[2019-12-01 01:02] cgewecke commented on #432
Fix published in [0.7.0-beta.3](https://github.com/sc-forks/solidity-coverage/releases/tag/v0.7.0-beta.3)

[2019-12-01 01:02] #432 closed

[2019-12-01 01:02] cgewecke commented on #423
Fix published in [0.7.0-beta.3](https://github.com/sc-forks/solidity-coverage/releases/tag/v0.7.0-beta.3)

[2019-12-01 01:02] #423 closed

[2019-12-02 17:32] cgewecke opened #453 "Publish beta to master"
Tentatively scheduling this for Saturday, Dec 7 2019, pending any feedback about beta.3

[2019-12-02 21:31] cgewecke commented on #429
It looks like this was a bug in Truffle that's been fixed (not sure where).

Have added a working test case for this in #454, after upgrading Truffle dev dependency to 5.1.2.

Closing, please feel free to ping if you continue to see this.

[2019-12-02 21:31] #429 closed

[2019-12-07 19:33] k06a opened #455 "This module is no longer maintained (istanbul)"
Going to upgrade?

[2019-12-07 19:36] cgewecke commented on #455
@k06a Maybe - there's kind of a big change between the istanbul and nyc output formats and the Istanbul API seems like it's worked quite well. Do you have a specific reason to prefer nyc?

I've been thinking that when I do this it will be an option.

[2019-12-07 19:39] k06a commented on #455
@cgewecke I afraid `istanbul` may stop receiving updates, even with critical fixes.

[2019-12-07 19:50] cgewecke commented on #455
@k06a I think that's true - it's archived. Also think it will remain stable for a long time - it does very basic stuff.

Was just looking at nyc and they don't really [publish a programmatic API][1] any more. Would probably just have to figure out how to pass the coverage.json file to the command line tool.

Am going to rename your issue and add it to the roadmap - thanks for opening this @k06a!

[2019-12-17 11:09] steven-gong-artos commented on #432
Thanks, @cgewecke ,
You are right, migrations/coverage is generated to contain some empty folders.
Once this migrations/coverage folder is removed, this TypeError disappears.

[2019-12-18 18:51] cgewecke opened #457 "Add basic test with Solc 0.6.0"
See if any of the [new keywords](https://github.com/ethereum/solidity/releases/tag/v0.6.0) cause problems for parser-antlr.

[2019-12-19 10:14] steven-gong-artos opened #458 "Cannot run beta on Windows"
Hi,

I got an issue when running coverage in windows:
`truffle run coverage --network coverage`

The coverage report shows 0% coverage for all contracts .sol file:
[code]

All smart contracts under root/contracts/*.sol are annotated by the instrumentation except interfaces, and a coverage report within the root/migration/coverage folder.

I think this is caused by the truffle test not able to be e

[2019-12-19 16:54] cgewecke commented on #458
@steven-gong-artos

Is there any chance you could link to your project on GitHub if it's public? The only thing in your description that seems like it might be wrong is that the contracts in `root/contracts` should *not* be instrumented. Instead there should be a temp folders called `root/.coverage_contracts` and `root/.coverage_artifacts` which are created and deleted with each coverage run.

I d

[2019-12-20 09:44] steven-gong-artos commented on #458
Hi @cgewecke,
Thanks for the advice, I've tried to unbox the metacoin, and installed then run coverage on Windows, got the same issue as below:

⚠️  This plugin cannot run Truffle's native solidity tests: 1 test(s) will be skipped.

Compiling your contracts...
===========================

Compiling your contracts...
===========================

-----------------|-----------|------------|----------

[2019-12-20 17:40] cgewecke commented on #458
@steven-gong-artos Suspect this is WindowsOS and related to the way windows formats paths. Will try to see if I can get basic a Windows CI job running today and identify where things are going wrong.

[2019-12-31 21:17] cgewecke commented on #458
Apologies for the delay addressing this. Should be fixed on the newly published latest version: `0.7.0` via #459.

Have added an Windows E2E job which successfully runs Truffle's metacoin tests.

[2019-12-31 21:17] #458 closed

[2019-12-31 21:18] cgewecke commented on #457
Partially addressed w #461

[2019-12-31 21:18] #457 closed

[2019-12-31 21:20] cgewecke opened #464 "Cannot parse some solc 0.6.x language features."
Contracts which use new syntax crash the parser:
+ try/catch
+ override
+ array slicing
+ assembly `leave`
+ abstract keyword

Fixing this will require updates to the [antlr grammar][1] and [solidity-parser-antlr][2].

Example error reported in gitter by cyril lapinte
[code]
[1]: https://github.com/solidityj/solidity-antlr4
[2]: https://github.com/federicobond/solidity-parser-antlr

[2019-12-31 21:22] cgewecke commented on #453
`0.7.0`

[2019-12-31 21:22] #453 closed

[2019-12-31 21:23] cgewecke commented on #384
Published to latest with `0.7.0`

[2019-12-31 21:23] #384 closed

[2019-12-31 21:24] cgewecke commented on #371
Published to latest with `0.7.0`

[2019-12-31 21:24] #371 closed

[2019-12-31 21:27] cgewecke commented on #301
`0.7.0` has resolved all this by using a completely different architecture.

[2019-12-31 21:27] #301 closed

[2019-12-31 21:30] cgewecke commented on #338
Closing this for the time being, not sure how exactly what improvements would be useful. Might reopen elsewhere if there's a concrete proposal to document how SC is developed.

[2019-12-31 21:30] #338 closed

[2019-12-31 21:30] cgewecke commented on #300
Published w/ 0.7.0

[2019-12-31 21:30] #300 closed

[2019-12-31 21:35] cgewecke commented on #284
The need to copy the entire project into a temp folder is gone in 0.7.0.

We do some copying of solc files in the contracts folder to a temp folder for instrumentation, but there shouldn't be any serious issues with that.

Closing as an artifact of the 0.6.x design.

[2019-12-31 21:35] #284 closed

[2019-12-31 21:46] cgewecke commented on #283
This should be a non-issue with newly published 0.7.0. We're no longer copying any packages & the tool runs at the same layer as the project root.

However if you run into any weird issues using Lerna with the new version, please just lmk.

A monorepo called [Sabiler](https://github.com/sablierhq/sablier) has been able to run the new version without serious problems so hopefully everything's ok.

[2019-12-31 21:46] #283 closed

[2019-12-31 21:46] cgewecke commented on #263
Fixed in `0.7.0`

[2019-12-31 21:46] #263 closed

[2019-12-31 21:54] cgewecke commented on #216
Closing via `0.7.0`. That releases [exposes an API][1] which lets you build a custom coverage runner.

There are two [plugins][2] - one for Truffle, one for Buidler - which can be used as recipes if you need to tailor the tool for a different dev stack.

[1]: https://github.com/sc-forks/solidity-coverage/blob/master/docs/api.md#solidity-coverage-api
[2]: https://github.com/sc-forks/solidity-covera

[2019-12-31 21:54] #216 closed

[2019-12-31 21:59] cgewecke commented on #243
This should be fixed with 0.7.0, which ships as a truffle plugin.

There's now a cli flag that lets you specify the test file set:
[code]

[2019-12-31 21:59] #243 closed

[2019-12-31 22:00] cgewecke commented on #234
Fixed with `0.7.0`

[2019-12-31 22:00] #234 closed

[2019-12-31 22:02] cgewecke commented on #166
Fixed with `0.7.0`

[2019-12-31 22:02] #166 closed

[2019-12-31 22:16] cgewecke commented on #163
Hi @elenadimitrova. Hope you have a wonderful new year, you're the best.

This should be fixed in `0.7.0`. No longer copying any packages anywhere or changing people's modifiers.

[2019-12-31 22:16] #163 closed

[2019-12-31 22:18] cgewecke commented on #111
Implemented with `0.7.0`.

Happy new year @area!

[2019-12-31 22:18] #111 closed

[2019-12-31 22:20] cgewecke commented on #370
mmmm.

[2019-12-31 22:20] #370 closed

[2019-12-31 22:23] cgewecke commented on #251
`0.7.0` fixes this by handling everything in-process and it should have a much smaller memory footprint since hits are managed with a counter.

Thanks for opening @barakman, hope you have a great new year!

[2019-12-31 22:23] #251 closed

[2019-12-31 22:33] cgewecke commented on #170
I think this might be a non-issue in `0.7.0`  - we just sit inside the vm and maintain an in memory map of line hits.

No solidity-coverage related mysterious disconnection reports recently...

[2019-12-31 22:33] #170 closed

[2020-01-01 02:32] cgewecke commented on #455
Small update: as an interim step, have forked istanbul and published our own copy as sc-istanbul so any dependency vulns etc can be addressed in this org if they arise. Left a few other notes about possible ways forward at #465.

This change will ship in 0.7.1

[2020-01-01 06:49] barakman commented on #251
@cgewecke: You're welcome.
This one in specific has been both enjoyable and excruciating to investigate and resolve (well, workaround)... As a matter of fact, in terms of difficulty, I believe that it was second to [Truffle 4 issue 729](https://github.com/trufflesuite/truffle/issues/729) only.
Thank you for providing this outstanding tool, which IMO is a must in every Ethereum project.
Happy New Y